<app-image-modal idModal="twitterModal" (newItemEvent)="selectTwitter($event)"></app-image-modal>
<app-image-modal idModal="facebookModal" (newItemEvent)="selectFacebook($event)"></app-image-modal>

<h2 class="text-center">Mes données de réferencement</h2>
<div class="container" *ngIf="metaTag">
    <form class="row" [formGroup]="updateForm">
        <div class="col-6">
            <h2>Facebook</h2>
            <div class="col-12">
                <label for="facebookTitle" class="form-label">Titre</label>
                <input formControlName="facebookTitle" type="text" class="form-control" id="facebookTitle"
                    placeholder="Titre de l'aperçu Facebook">
            </div>
            <div class="col-12">
                <label for="facebookDescription" class="form-label">Description</label>
                <textarea formControlName="facebookDescription" type="text" class="form-control" id="facebookDescription"
                    placeholder="Description de l'aperçu Facebook">
                    </textarea>
            </div>
            <div class="col-12">
                <label for="facebookImage" class="form-label">Image</label>
                <input (click)="showFacebook()" formControlName="facebookImage" type="text" class="form-control" id="facebookImage"
                    placeholder="Image de l'aperçu Facebook">
            </div>
        </div>
        <div class="col-6">
            <h2>Twitter</h2>
            <div class="col-12">
                <label for="twitterTitle" class="form-label">Titre</label>
                <input formControlName="twitterTitle" type="text" class="form-control" id="twitterTitle"
                    placeholder="Titre de l'aperçu Twitter">
            </div>
            <div class="col-12">
                <label for="twitterDescription" class="form-label">Description</label>
                <textarea formControlName="twitterDescription" class="form-control" id="twitterDescription"
                    placeholder="Description de l'aperçu Twitter">
                    </textarea>
    
            </div>
            <div class="col-12">
                <label for="twitterImage" class="form-label">Image</label>
                <input (click)="showTwitter()" formControlName="twitterImage" type="text" class="form-control" id="twitterImage"
                    placeholder="Image de l'aperçu Twitter">
            </div>
            <div class="col-12">
                <label for="twitterAuthor" class="form-label">Auteur</label>
                <input formControlName="twitterAuthor" type="text" class="form-control" id="twitterAuthor"
                    placeholder="Nom du compte Twitter">
            </div>
        </div>
        <div class="col-6">
            <h2>Données générale</h2>
            <div class="col-12">
                <label for="description" class="form-label">Description</label>
                <textarea formControlName="description" class="form-control" id="description"
                    placeholder="Veuillez saisir une description (moin de 200 caractères)"></textarea>
            </div>
            <div class="col-12">
                <label for="keywords" class="form-label">Mot clefs</label>
                <textarea formControlName="keywords" type="text" class="form-control" id="keywords"
                    placeholder="Veuillez saisir des mot clefs pertinents (moin de 1000 caractères)">
                </textarea>
            </div>
            <div class="col-12">
                <label for="author" class="form-label">Nom de l'auteur</label>
                <input formControlName="author" type="text" class="form-control" id="inputAddress"
                    placeholder="Nom du créateur du site web">
            </div>
        </div>
        <div class="col-6">
            <h2 class="text-center" style="margin-top: 30px;">Autres référencements</h2>
            <table class="table col-12">
                <thead>
                    <tr>
                        <th scope="col">Clef</th>
                        <th scope="col">Valeur</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let other of metaTag.other;TrackBy:util.trackById">
                        <td>{{other.key}}</td>
                        <td>{{other.value}}</td>
                        <td><span class="btn btn-danger" (click)="deleteKey(other)">X</span></td>
                    </tr>
                    <tr>
                        <td>
                            <input #key type="text" class="form-control" id="inputKey" placeholder="Nom de la propriété">
    
                        </td>
                        <td>
                            <input #value type="text" class="form-control" id="inputValue"
                                placeholder="Valeur de la propriété">
    
                        </td>
                        <td>
                            <button (click)="add(key,value);key.value='';value.value=''" type="button"
                                class="btn btn-success">+</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12" style="margin-top: 30px;">
            <button type="button" class="btn btn-warning" (click)="save()">Enregister les modifications</button>
        </div>
    </form>
</div>