<div class="container">
    <div class="jumbotron">
        <h2>Interface Serveur</h2>
    </div>
    <div class="row">
        <mat-tab-group>
            <mat-tab label="Commande">
                <mat-button-toggle-group [(ngModel)]="table" matPrefix aria-label="Default select" class="mt-3 col-12">
                    <mat-button-toggle value="1">1</mat-button-toggle>
                    <mat-button-toggle value="2">2</mat-button-toggle>
                    <mat-button-toggle value="3">3</mat-button-toggle>
                    <mat-button-toggle value="4">4</mat-button-toggle>
                    <mat-button-toggle value="5">5</mat-button-toggle>
                    <mat-button-toggle value="6">6</mat-button-toggle>
                    <mat-button-toggle value="7">7</mat-button-toggle>
                    <mat-button-toggle value="8">8</mat-button-toggle>
                </mat-button-toggle-group>
                <mat-tab-group (selectedTabChange)="getTable()">
                    <mat-tab label="Prise de commande" *ngIf="table.length>0">
                        <div class="col-12 row">
                            <div>
                                <mat-button-toggle-group matPrefix aria-label="Default select" class="mt-3 col-12">
                                    <mat-button-toggle
                                        *ngFor="let categorie of itemsCategory;let idx=index;trackBy:util.trackById"
                                        (click)="filterAdd(categorie)">{{categorie.name}}</mat-button-toggle>
                                </mat-button-toggle-group>
                                <mat-button-toggle-group matPrefix aria-label="Default select" class="mt-3 col-12">
                                    <mat-button-toggle
                                        *ngFor="let stock of stocksAdd;let idx=index;trackBy:util.trackById"
                                        (click)="selectStock(stock)">{{stock.item.name}}</mat-button-toggle>
                                </mat-button-toggle-group>
                                <mat-expansion-panel hideToggle *ngIf="currentAdd" class="mt-3">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Détails-{{currentAdd.item.name}} -<b>{{currentAdd.item.price}}€</b>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="row">
                                        <div class="col-4">
                                            <img style="width:100%"
                                                src="{{urlDownload}}{{currentAdd.item.sourceImage.miniGridId}}" />
                                        </div>
                                        <div class="col-8">
                                            <div [innerHTML]="currentAdd.item.description"></div>
                                        </div>
                                        <h3 *ngIf="currentAdd.item.allergenes">Allergènes</h3>
                                        <ul>
                                            <li
                                                *ngFor="let allergene of currentAdd.item.allergenes;trackBy:util.trackById">
                                                <span>{{allergene.name}}</span></li>
                                        </ul>
                                    </div>
                                </mat-expansion-panel>
                                <div class=col-12>
                                    <div *ngIf="currentAdd" class="row">
                                        <div *ngFor="let option of currentAdd.item.options;let idx=index"
                                            class="my-3 col-md-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3>{{option.label}}</h3>
                                                </div>
                                                <div class="card-body">
                                                    <ng-container *ngIf="option.unique">
                                                        <mat-radio-group>
                                                            <mat-radio-button #item (change)="check(idx,i,item)"
                                                                class="col-12 my-2" [checked]="choix.selected"
                                                                [value]="idx +',' +i"
                                                                *ngFor="let choix of option.options; let i=index"><span>
                                                                    {{choix.label}} <span *ngIf="choix.price>0">+
                                                                        {{choix.price}}€</span></span>
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </ng-container>
                                                </div>
                                                <ng-container *ngIf="!option.unique">
                                                    <mat-checkbox #item (change)="check(idx,i,item)"
                                                        class="col-12 my-2 ml-3" [checked]="choix.selected"
                                                        [value]="idx +',' +i"
                                                        *ngFor="let choix of option.options; let i=index">
                                                        {{choix.label}} <span *ngIf="choix.price>0">+
                                                            {{choix.price}}€</span>
                                                    </mat-checkbox>
                                                </ng-container>
                                            </div>
                                        </div>

                                        <mat-form-field class="col-12" appearance="fill">
                                            <mat-label>Commentaire</mat-label>
                                            <input type="text" matInput #text>
                                        </mat-form-field>

                                        <button class="mt-5" (click)="addToPreorder(text.value)"
                                            mat-stroked-button>Ajouter au panier</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab *ngIf="table.length>0" label="Panier">
                        <button mat-stroked-button class="col-12 my-3" (click)="sendAllToCook()">Annoncer toute la
                            table</button>
                        <div *ngFor="let panierItem of preOrder;trackBy:util.trackById" class="card my-3">
                            <div class="card-header">
                                <h3 class="card-title float-left">{{panierItem.stock.item.name}}</h3>
                                <div class="float-right">
                                    <button mat-stroked-button (click)="sendToCook(panierItem)">
                                        Anoncer
                                    </button>
                                    <button (click)="goBack(panierItem)" mat-stroked-button color="warn">
                                        Remettre dans la prise de commande
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <p>Options:</p>
                                <span *ngFor="let option of panierItem.stock.item.options;trackBy:util.trackById">
                                    <span *ngFor="let choix of option.options">
                                        <span *ngIf="choix.selected">-{{choix.label}}-</span>
                                    </span><br />
                                </span>
                                <hr />
                                <p>Message:{{panierItem.messageToNext}}</p>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab *ngIf="table.length>0" label="En cours">
                        <mat-expansion-panel hideToggle class="mt-3">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Demander l'envoie groupé
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-button-toggle-group matPrefix aria-label="Default select" class="mt-3 col-12">
                                <mat-button-toggle
                                    *ngFor="let categorie of itemsCategory;let idx=index;trackBy:util.trackById"
                                    (click)="sendAllToTakeCook(categorie)">{{categorie.name}}</mat-button-toggle>
                            </mat-button-toggle-group>


                        </mat-expansion-panel>
                        <div class="card my-3" *ngFor="let order of orders">
                            <div class="card-header">
                                <h3 class="float-left">{{order.preOrder.stock.item.name}}</h3>
                                <button mat-stroked-button (click)="moveToTake(order)" class="float-right">Demander
                                    l'envoie</button>
                            </div>
                            <div class="card-body">
                                <p>Options:</p>
                                <span *ngFor="let option of order.preOrder.stock.item.options;trackBy:util.trackById">
                                    <span *ngFor="let choix of option.options;trackBy:util.trackById">
                                        <span *ngIf="choix.selected">-{{choix.label}}-</span>
                                    </span><br />
                                </span>
                                <hr />
                                <p>Message:{{order.preOrder.messageToNext}}</p>
                            </div>
                        </div>

                    </mat-tab>
                </mat-tab-group>
            </mat-tab>
            <mat-tab label="A faire">

            </mat-tab>
        </mat-tab-group>
    </div>
</div>