<!-- Modal update-->
<div class="modal fade" id="updateImage" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="updateImageLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
        <div class="modal-header">
          <h2 class="modal-title" id="updateImageLabel">Modification des propriétés de l'image</h2>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="selectedImage" class="row">
            <div class="col-12">
              <h3 class="form-label mat-h3">Description:</h3>
              <editor [init]="{language: 'fr_FR',height:400}" formControlName="description"
                apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2">
              </editor>
            </div>

            <mat-form-field appearance="fill">
              <mat-label>Catégorie de l'image</mat-label>
              <mat-select formControlName="categorie" [compareWith]="compareByID">
                <mat-option *ngFor="let categorie of categories" [value]="categorie">
                  {{categorie.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-12" appearance="fill">
              <mat-label>Texte alternatif pour la description de l'image</mat-label>
              <input formControlName="alt" type="text" matInput placeholder="Ex: Le logo de l'entreprise">
            </mat-form-field>

            <mat-form-field class="col-12" appearance="fill">
              <mat-label>Lien de l'image</mat-label>
              <input formControlName="link" type="text" matInput
                placeholder="Ex: https://www.mon-super-site/article/champion/">
            </mat-form-field>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="submit" class="btn btn-warning">Sauvegarder</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="addImage" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="addImageLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="addForm" (ngSubmit)="addData()">
        <div class="modal-header">
          <h2 class="modal-title" id="addImageLabel">Ajout d'une image</h2>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row">

          <div class="col-12">
            <h3 class="form-label mat-h3">Description:</h3>
            <editor [init]="{language: 'fr_FR',height:400}" formControlName="description"
              apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2">
            </editor>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>Catégorie de l'image</mat-label>
            <mat-select formControlName="categorie">
              <mat-option *ngFor="let categorie of categories" [value]="categorie">
                {{categorie.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Texte alternatif pour la description de l'image</mat-label>
            <input formControlName="alt" type="text" matInput placeholder="Ex: Le logo de l'entreprise">
          </mat-form-field>

          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Lien de l'image</mat-label>
            <input formControlName="link" type="text" matInput
              placeholder="Ex: https://www.mon-super-site/article/champion/">
          </mat-form-field>

          <div class="row">
            <div class="col-5">
              <input class="form-control" placeholder="choix du fichier" (change)="handleFiles($event)"
                accept="image/png, image/jpeg" type="file" id="formFile">
            </div>

            <mat-form-field class="col-2" appearance="fill">
              <mat-label>Largeur de l'image</mat-label>
              <input formControlName="widht" type="number" matInput placeholder="Ex: 800">
            </mat-form-field>

            <mat-form-field class="col-2" appearance="fill">
              <mat-label>Hauteur de l'image</mat-label>
              <input formControlName="heigth" type="number" matInput placeholder="Ex: 800">
            </mat-form-field>

            <div class="col-3">
              <mat-slide-toggle formControlName="keepRatio">Maintenir le ratio</mat-slide-toggle>
            </div>

          </div>

          <div class="mb-3">
            <img style="max-width: 600px;margin-top:10px" [src]="imgURL">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="submit" class="btn btn-primary">
            Ajouter
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="text-center">Gestion des images</h2>
  <form [formGroup]="filterForm">
    <div class="mb-3">
      <label class="form-label" for="addCa">Filtrer par:</label>
      <select (change)="filter()" [compareWith]="compareFn" formControlName="filter" id="addCa" class="form-select"
        aria-label="Default select">
        <option *ngFor="let categorie of categories;let idx=index;trackBy:util.trackById" [ngValue]="categorie">
          {{categorie.name}}</option>
          <option [ngValue]="null">Catégorie null</option>
      </select>
    </div>
  </form>
  <button type="button" style="border-radius: 0px;margin:10px" class="btn btn-success btn-lg" data-toggle="modal"
    data-target="#addImage">
    +
  </button>
  <div *ngIf="images">
    <div class="card my-3" *ngFor="let image of images;trackBy:util.trackById">
      <div class="card-header">
        <h3 class="float-left">{{image.fileName}}</h3>
        <div class="float-right">
          <button class="btn btn-danger btn-list" title="delete categorie"
            (click)="deleteImage(image)">Supprimer</button>
          <button type="button" class="btn btn-warning btn-list" (click)="updateDataForm(image)">
            Modifier
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <img src="{{urlDownload}}{{image.gridId}}" class="img-thumbnail col-2"/>
          <div class="col-10">
            <p [innerHTML]="image.description"> </p>           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>