<div class="modal fade" id="{{idModal}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Choix de l'image</h2>
                <button type="button" class="btn-close" (click)="show()" data-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="filterForm">
                    <div class="mb-3">
                        <label class="form-label">Choix de la catégorie</label>
                        <select (change)="filter()" [compareWith]="compareFn" formControlName="filter"
                            class="form-select" aria-label="Default select">
                            <option *ngFor="let categorie of categories;let idx=index;trackBy:util.trackById"
                                [ngValue]="categorie">
                                {{categorie.name}}</option>
                        </select>
                    </div>
                </form>
                <div class="row">
                    <form class="col-6">
                        <div class="row">
                            <div class="col-12 row">
                                <div class="col-4 mini" *ngFor="let image of images;trackBy:util.trackById"
                                    (click)="addNewItem(image)">
                                    <img class="img-fluid" src="{{urlDownload}}{{image.miniGridId}}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-6" *ngIf="selectImage">
                        <h3>Image sélectionnée:</h3>
                        <div class="mb-3">
                            <img src="{{urlDownload}}{{selectImage.gridId}}" class="img-thumbnail text-center"
                                max-width="100%" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="show()" type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>