<h2 class="text-center">Gestion des allergenes</h2>
<div class="container">
    <h3>Liste des allergenes</h3>
    <form>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Dénomination</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let allergene of allergenes" (click)="onSelect(allergene)">
                <td>{{allergene.name}}</td>
                <td><button class="btn btn-danger" title="delete allergene"
                    (click)="delete(allergene)">Supprimer</button></td>
              </tr>
            </tbody>
          </table>
    
    </form>
    
    <div *ngIf="selectedAllergene">
        <h3>Mise à jour de la valeur</h3>
        <div class="mb-3">
          <label for="updateN" class="form-label">Nom de l'allergene</label>
          <input [(ngModel)]="selectedAllergene.name" id="updateN" placeholder="Nom" class="form-control" >
        </div>
        <div class="mb-3">
          <button (click)="update()" type="submit" class="btn btn-primary">Enregistrer la modification</button>
        </div>
     </div>

    
    <div>
        <h3>Ajout d'un allergene</h3>
        <div class="mb-3">
          <label class="form-label" for="inputNameAllergene">Nom de l'allergene</label>
          <input  #allergeneName class="form-control" id="inputNameAllergene" placeholder="Taper la dénomination">
        </div>
        <div class="mb-3">
          <button (click)="add(allergeneName.value); allergeneName.value=''" type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    </div>  


</div>    
    
    
    
