<!-- Modal add-->
<div class="modal fade" id="addModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h2 class="modal-title" id="addModalLabel">Ajout de produits dans le stock</h2>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <mat-button-toggle-group matPrefix aria-label="Default select">
                        <mat-button-toggle *ngFor="let categorie of itemCategories;let idx=index;trackBy:util.trackById"
                            (click)="filterAdd(categorie)">{{categorie.name}}</mat-button-toggle>
                    </mat-button-toggle-group>
                    <div *ngIf="stockItem.item">
                        <div *ngIf="stockItem.item.categorie" class="row">
                            <h3>Sélection du produit</h3>
                            <button (click)="selectItem(choix)"
                                *ngFor="let choix of items;let idx=index;trackBy:util.trackById" mat-button
                                class="col-12">{{choix.name}}</button>
                        </div>
                    </div>
                    <div *ngIf="itemSelected">
                        <h3>{{stockItem.item.name}}</h3>
                        <div class="mt-5">
                            <mat-form-field appearance="fill">
                                <mat-label>Quantité</mat-label>
                                <input #quantite matInput type="number" min="1" value="1">
                            </mat-form-field>
                            <button type="submit" class="btn btn-primary btn-lg ml-5"
                                (click)="addData(quantite.value);quantite.value='1'">Ajouter</button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="jumbotron">
        <h2>Gestion du stock</h2>
    </div>

    <mat-tab-group>
        <mat-tab label="Vue d'ensemble">
            <div *ngIf="dataGrouppedSource.data.length>0">
                <table style="width:100%" mat-table [exampleEntity]="filterGroupedEntity" [filterType]="filterType"
                    matTableFilter [dataSource]="dataGrouppedSource">

                    <ng-container matColumnDef="NAME">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Nom" [(ngModel)]="filterGroupedEntity.item.name">
                            </mat-form-field>
                        </th>
                        <td mat-cell *matCellDef="let stock"> {{stock.item.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="CATEGORY">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Catégorie"
                                    [(ngModel)]="filterGroupedEntity.item.categorie.name">
                            </mat-form-field>
                        </th>
                        <td mat-cell *matCellDef="let stock"> {{stock.item.categorie.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="QUANTITY">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Quantité" [(ngModel)]="filterGroupedEntity.item.stock">
                            </mat-form-field>
                        </th>
                        <td mat-cell *matCellDef="let stock"> {{stock.item.stock}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="columnsGrouppedToDisplay"></tr>
                    <tr mat-row *matRowDef="let dataGrouppedSource; columns:  columnsGrouppedToDisplay"></tr>

                </table>
            </div>
        </mat-tab>
        <mat-tab label="Suppression d'items dans le stock">
            <h3>Sélection de la categorie</h3>
            <mat-button-toggle-group matPrefix aria-label="Default select">
                <mat-button-toggle *ngFor="let categorie of itemCategories;let idx=index;trackBy:util.trackById"
                    (click)="filterUnique(categorie)">{{categorie.name}}</mat-button-toggle>
            </mat-button-toggle-group>
            <div *ngIf="dataSource.data.length>0">

                <table style="width:100%" mat-table [exampleEntity]="filterEntity" [filterType]="filterType"
                    matTableFilter [dataSource]="dataSource">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            *
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="NAME">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Nom" [(ngModel)]="filterEntity.item.name">
                            </mat-form-field>
                        </th>
                        <td mat-cell *matCellDef="let stock"> {{stock.item.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="DATE">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Date de l'ajout" [(ngModel)]="filterEntity.inside">
                            </mat-form-field>
                        </th>
                        <td mat-cell *matCellDef="let stock"> {{stock.inside}} </td>
                    </ng-container>
                    <ng-container matColumnDef="USERNAME">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Nom de la personne qui a ajouté le produit"
                                    [(ngModel)]="filterEntity.username">
                            </mat-form-field>

                        </th>
                        <td mat-cell *matCellDef="let stock"> {{stock.username}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let dataSource; columns: columnsToDisplay"></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>

            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Message pour la suppression</mat-label>
                <input #message type="text" placeholder="Ex: invendus" matInput>
            </mat-form-field>

            <button (click)="delete(message.value);message.value=''" class="btn btn-danger">Suppression des
                éléments</button>
        </mat-tab>
        <mat-tab label="Définir le stock">
            <h3>Sélection de la categorie</h3>
            <mat-button-toggle-group matPrefix aria-label="Default select" class="mt-3">
                <mat-button-toggle *ngFor="let categorie of itemCategories;let idx=index;trackBy:util.trackById"
                    (click)="filterAdd(categorie)">{{categorie.name}}</mat-button-toggle>
            </mat-button-toggle-group>
            <div *ngIf="stockItem.item">
                <div *ngIf="stockItem.item.categorie">
                    <h3>Sélection du produit</h3>
                    <button (click)="selectItem(choix)" *ngFor="let choix of items;let idx=index;trackBy:util.trackById"
                        mat-button>{{choix.name}}</button>
                </div>
                <div *ngIf="itemSelected">
                    <h3>{{stockItem.item.name}}</h3>
                    <div class="mt-5">
                        <mat-form-field appearance="fill">
                            <mat-label>Quantité</mat-label>
                            <input #quantite matInput type="number" min="1" value="1">
                        </mat-form-field>
                        <button type="submit" class="btn btn-primary btn-lg ml-5"
                            (click)="updateData(quantite.value);quantite.value='1'">Définir le stock</button>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Ajouter du stock">
            <h3>Sélection de la categorie</h3>
            <mat-button-toggle-group matPrefix aria-label="Default select" class="mt-3">
                <mat-button-toggle *ngFor="let categorie of itemCategories;let idx=index;trackBy:util.trackById"
                    (click)="filterAdd(categorie)">{{categorie.name}}</mat-button-toggle>
            </mat-button-toggle-group>
            <div *ngIf="stockItem.item">
                <div *ngIf="stockItem.item.categorie">
                    <h3>Sélection du produit</h3>
                    <button (click)="selectItem(choix)" *ngFor="let choix of items;let idx=index;trackBy:util.trackById"
                        mat-button>{{choix.name}}</button>
                </div>
            </div>
            <div *ngIf="itemSelected">
                <h3>{{stockItem.item.name}}</h3>
                <div class="mt-5">
                    <mat-form-field appearance="fill">
                        <mat-label>Quantité</mat-label>
                        <input #quantite matInput type="number" min="1" value="1">
                    </mat-form-field>
                    <button type="submit" class="btn btn-primary btn-lg ml-5"
                        (click)="addData(quantite.value);quantite.value='1'">Ajouter</button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>