<app-image-modal idModal="addImageModal" showAfterClose="addArticle" (newItemEvent)="addImage($event)">
</app-image-modal>
<app-image-modal idModal="updateImageModal" showAfterClose="updateArticle" (newItemEvent)="updateImage($event)">
</app-image-modal>


<!-- Modal add-->
<div class="modal fade" id="addArticle" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="addArticleel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <form [formGroup]="addForm">
                <div class="modal-header">
                    <h3 class="modal-title" id="addArticleel">Ajout d'un article</h3>
                    <button type="button" class="btn-close" id="closeAddModal" data-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <mat-form-field class="col-12" appearance="fill">
                                    <mat-label>Titre de l'article</mat-label>
                                    <input formControlName="title" type="text" matInput
                                        placeholder="Ex: Notre restaurant accueille un nouveau chef">
                                </mat-form-field>
                                <mat-form-field class="col-7" appearance="fill">
                                    <mat-label>Nom de l'auteur</mat-label>
                                    <input formControlName="author" type="text" matInput
                                        placeholder="Ex: Patrick Dupont">
                                </mat-form-field>
                                <div class="col-5">
                                    <mat-slide-toggle formControlName="visible">Visible</mat-slide-toggle>
                                    <mat-slide-toggle formControlName="onTop">Mise en avant</mat-slide-toggle>
                                </div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Catégorie de l'article</mat-label>
                                    <mat-select formControlName="categorie">
                                        <mat-option *ngFor="let categorie of articleCategories" [value]="categorie">
                                            {{categorie.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-6">
                            <button style="width:100%" type="button" class="btn btn-primary" (click)="showAddImage()"
                                data-dismiss="modal">
                                Sélectionner une image
                            </button>
                            <img *ngIf="addArticle.image" src="{{urlDownload}}{{addArticle.image.gridId}}"
                                style="width:100%" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Résumé:</label>
                        <editor [init]="{language: 'fr_FR',height:300}" formControlName="resume"
                            apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contenu:</label>
                        <editor [init]="{language: 'fr_FR',height:500,   plugins: [ 'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste wordcount'],
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                image_list:image_list}" formControlName="content"
                            apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                    <button type="button" class="btn btn-primary" (click)="addData()">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal update-->
<div class="modal fade" id="updateArticle" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="updateArticleel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <form [formGroup]="updateForm" *ngIf="selectedArticle">
                <div class="modal-header">
                    <h3 class="modal-title" id="updateArticleel">Modification d'un article</h3>
                    <button type="button" class="btn-close" id="closeUpdateModal" data-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <mat-form-field class="col-12" appearance="fill">
                                    <mat-label>Titre de l'article</mat-label>
                                    <input formControlName="title" type="text" matInput
                                        placeholder="Ex: Notre restaurant accueille un nouveau chef">
                                </mat-form-field>
                                <mat-form-field class="col-7" appearance="fill">
                                    <mat-label>Nom de l'auteur</mat-label>
                                    <input formControlName="author" type="text" matInput
                                        placeholder="Ex: Patrick Dupont">
                                </mat-form-field>
                                <div class="col-5">
                                    <mat-slide-toggle formControlName="visible">Visible</mat-slide-toggle>
                                    <mat-slide-toggle formControlName="onTop">Mise en avant</mat-slide-toggle>
                                </div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Catégorie de l'article</mat-label>
                                    <mat-select [compareWith]="compareFn" formControlName="categorie">
                                        <mat-option *ngFor="let categorie of articleCategories" [value]="categorie">
                                            {{categorie.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-6">
                            <button style="width:100%" type="button" class="btn btn-primary" (click)="showUpdateImage()"
                                data-dismiss="modal">
                                Sélectionner une image
                            </button>
                            <img *ngIf="selectedArticle.image" src="{{urlDownload}}{{selectedArticle.image.gridId}}"
                                style="width:100%" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Résumé:</label>
                        <editor [init]="{language: 'fr_FR',height:300}" formControlName="resume"
                            apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contenu:</label>
                        <editor [init]="{language: 'fr_FR',height:500,   plugins: [ 'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste wordcount'],
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                image_list:image_list}" formControlName="content"
                            apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                    <button type="button" class="btn btn-primary" (click)=" updateData()">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="jumbotron">
        <h2 class="text-center">Gestion des articles</h2>
    </div>

    <div>
        <mat-button-toggle-group matPrefix aria-label="Default select">
            <mat-button-toggle *ngFor="let categorie of articleCategories;let idx=index;trackBy:util.trackById"
                (click)="filter(categorie)">{{categorie.name}}</mat-button-toggle>
            <mat-button-toggle (click)="filter(null)">Catégorie null</mat-button-toggle>
            <mat-form-field *ngIf="authenticationService.editor" appearance="" class="ml-3" style="max-height: 50px;">
                <mat-label>Ajout rapide d'une catégorie</mat-label>
                <input #cattegorieName type="text" matInput placeholder="Ex: Nouveauté">
                <button matSuffix (click)="addCategorie(cattegorieName.value);cattegorieName.value=''"
                    class="btn btn btn-secondary mb-2">+</button>
            </mat-form-field>
        </mat-button-toggle-group>
        <span *ngIf="authenticationService.editor">
            <button *ngIf="addArticle.categorie" mat-stroked-button type="button" class="ml-3" data-toggle="modal"
                data-target="#addArticle">
                Créer un article
            </button>
        </span>
    </div>

    <div *ngIf="articles" class="mt-5">
        <div class="card my-3" *ngFor="let article of articles;trackBy:util.trackById">
            <div class="card-header">
                <p class="float-left card-title">{{article.title}}</p>
                <div class="float-right">
                    <button *ngIf="authenticationService.admin" (click)="delete(article)"
                        mat-stroked-button color="warn">Suprimer</button>
                    <button *ngIf="authenticationService.editor" type="button" mat-stroked-button
                        (click)="updateDataForm(article)">
                        Modifier
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <img *ngIf="article.image" src="{{urlDownload}}{{article.image.gridId}}" class="thumbnail"
                            alt="{{article.image.alt}}" width="100%" />
                    </div>
                    <div class="col-sm-10">
                        <p [innerHTML]="article.resume"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>