<app-image-modal idModal="addImageModal" (newItemEvent)="addImage($event)" showAfterClose="addModal"></app-image-modal>
<app-image-modal idModal="updateImageModal" (newItemEvent)="updateImage($event)" showAfterClose="updateModal">
</app-image-modal>

<!-- Modal update-->
<div class="modal fade" id="updateModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="updateForm">
        <div class="modal-header">
          <h2 class="modal-title mat-h2" id="updateModalLabel">Modification de la categorie</h2>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
            id="closeUpdateModal"></button>
        </div>
        <div class="modal-body row" *ngIf="selectedImageCategorie">

          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Nom de la categorie</mat-label>
            <input formControlName="name" required type="text" matInput placeholder="Ex: Images de la carte (entrée)">
          </mat-form-field>

          <div class="col-6 mt-0 mb-3">
            <mat-slide-toggle formControlName="visible">Ajouter comme album</mat-slide-toggle>
          </div>

          <div class="col-6">
            <button type="button" class="btn btn-primary col-12" (click)="showUpdateImage()" data-dismiss="modal">
              Image mise en avant ...
            </button>
            <img *ngIf="selectedImageCategorie.topImage" src="{{urlDownload}}{{selectedImageCategorie.topImage.gridId}}"
              style="width:100%" />
          </div>

          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea class="textArea" formControlName="description" matInput
                placeholder="Ex: Cette catégorie .."></textarea>
        </mat-form-field>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="submit" class="btn btn-warning" (click)="onUpdate()">Modifier</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="addModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="addForm">
        <div class="modal-header">
          <h3 class="modal-title" id="addModalLabel">Ajout d'une categorie</h3>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="closeAddModal"></button>
        </div>
        <div class="modal-body row">

          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Nom de la categorie</mat-label>
            <input formControlName="name" required type="text" matInput placeholder="Ex: Images de la carte (entrée)">
          </mat-form-field>

          <div class="col-6 mt-0 mb-3">
            <mat-slide-toggle formControlName="visible">Ajouter comme album</mat-slide-toggle>
          </div>

          <div class="col-6">
            <button type="button" class="btn btn-primary col-12" (click)="showAddImage()" data-dismiss="modal">
              Image mise en avant ...
            </button>
            <img *ngIf="addImageCategorie.topImage" src="{{urlDownload}}{{addImageCategorie.topImage.gridId}}"
              style="width:100%" />
          </div>

          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea class="textArea" formControlName="description" matInput
                placeholder="Ex: Cette catégorie .."></textarea>
        </mat-form-field>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="submit" class="btn btn-primary" (click)="addData()">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h2 class="text-center mat-h2">Gestion des catégorie d'images</h2>
  </div>
  <button *ngIf="authenticationService.editor" type="button" mat-stroked-button data-toggle="modal"
    data-target="#addModal">
    Ajouter une catégorie d'image
  </button>

  <div class="mt-5">
    <div *ngFor="let imageCategorie of imageCategories" (click)="onSelect(imageCategorie)" class="card my-3">
      <div class="card-header">
        <p class="float-left card-title">{{imageCategorie.name}}</p>
        <div class="float-right">
          <button mat-stroked-button color="warn" title="delete imageCategorie" (click)="delete(imageCategorie)"
            *ngIf="authenticationService.admin">Supprimer</button>
          <button *ngIf="authenticationService.editor" type="button" mat-stroked-button
            (click)="updateDataForm(imageCategorie)">
            Modifier
          </button>
        </div>
      </div>
    </div>
  </div>

</div>