td,th{
    border:none!important;
  }

.listbox {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
  }