<!-- Modal update-->
<div class="modal fade" id="updateModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
                <div class="modal-header">
                    <h3 class="modal-title" id="updateModalLabel">Modification de la promotion</h3>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
                        id="updateClose"></button>
                </div>
                <div class="modal-body row">
                    <mat-form-field class="col-md-6" appearance="fill">
                        <mat-label>Titre</mat-label>
                        <input formControlName="name" type="text" matInput placeholder="Ex: Happy hour">
                    </mat-form-field>

                    <mat-form-field class="col-md-4" appearance="fill">
                        <mat-label>Montant de la réduction</mat-label>
                        <input formControlName="reduction" type="number" matInput step="0.01">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="col-md-2">
                        <mat-label>Valeur</mat-label>
                        <mat-select formControlName="pourcentage">
                            <mat-option [value]="true">%</mat-option>
                            <mat-option [value]="false">€</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-md-6" appearance="fill">
                        <mat-label>heure de début</mat-label>
                        <ngx-material-timepicker #picker0></ngx-material-timepicker>
                        <input formControlName="heureDebut" [ngxTimepicker]="picker0" [format]=24 type="time" matInput>
                    </mat-form-field>

                    <mat-form-field class="col-md-6" appearance="fill">
                        <mat-label>heure de fin</mat-label>
                        <ngx-material-timepicker #picker1></ngx-material-timepicker>
                        <input formControlName="heureFin" [ngxTimepicker]="picker1" [format]=24 type="time" matInput>
                    </mat-form-field>


                    <mat-form-field class="col-md-6" appearance="fill">
                        <mat-label>Date de début</mat-label>
                        <input formControlName="dateDebut" type="date" matInput>
                    </mat-form-field>

                    <mat-form-field class="col-md-6" appearance="fill">
                        <mat-label>Date de fin</mat-label>
                        <input formControlName="dateFin" type="date" matInput>
                    </mat-form-field>


                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="jourFerie">Jour férié</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="lundi">Lundi</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="mardi">Mardi</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="mercredi">Mercredi</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="jeudi">Jeudi</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="vendredi">Vendredi</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="samedi">Samedi</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="dimanche">Dimanche</mat-slide-toggle>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                    <button type="submit" class="btn btn-warning">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="addModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <form [formGroup]="addForm" (ngSubmit)="addData()">
                <div class="modal-header">
                    <h3 class="modal-title" id="addModalLabel">Ajout d'une promotion</h3>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
                        id="addClose"></button>
                </div>
                <div class="modal-body row">
                    <mat-form-field class="col-md-6" appearance="fill">
                        <mat-label>Titre</mat-label>
                        <input formControlName="name" type="text" matInput placeholder="Ex: Happy hour">
                    </mat-form-field>

                    <mat-form-field class="col-md-4" appearance="fill">
                        <mat-label>Montant de la réduction</mat-label>
                        <input formControlName="reduction" type="number" matInput step="0.01">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="col-md-2">
                        <mat-label>Valeur</mat-label>
                        <mat-select formControlName="pourcentage">
                            <mat-option [value]="true">%</mat-option>
                            <mat-option [value]="false">€</mat-option>
                        </mat-select>
                    </mat-form-field>


                    <mat-form-field class="col-md-6" appearance="fill">
                        <mat-label>heure de début</mat-label>
                        <ngx-material-timepicker #pickerx2></ngx-material-timepicker>
                        <input formControlName="heureDebut" [ngxTimepicker]="pickerx2" [format]=24 type="time" matInput>
                    </mat-form-field>

                    <mat-form-field class="col-md-6" appearance="fill">
                        <mat-label>heure de fin</mat-label>
                        <ngx-material-timepicker #pickerx3></ngx-material-timepicker>
                        <input formControlName="heureFin" [ngxTimepicker]="pickerx3" [format]=24 type="time" matInput>
                    </mat-form-field>


                    <mat-form-field class="col-md-6" appearance="fill">
                        <mat-label>Date de début</mat-label>
                        <input formControlName="dateDebut" type="date" matInput>
                    </mat-form-field>

                    <mat-form-field class="col-md-6" appearance="fill">
                        <mat-label>Date de fin</mat-label>
                        <input formControlName="dateFin" type="date" matInput>
                    </mat-form-field>


                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="jourFerie">Jour férié</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="lundi">Lundi</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="mardi">Mardi</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="mercredi">Mercredi</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="jeudi">Jeudi</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="vendredi">Vendredi</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="samedi">Samedi</mat-slide-toggle>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <mat-slide-toggle formControlName="dimanche">Dimanche</mat-slide-toggle>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                    <button type="submit" class="btn btn-warning">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<h2 class="text-center">Gestion des promotions</h2>
<div class="container">
    <button type="button" style="border-radius: 0px;margin:10px" class="btn btn-success btn-lg" data-toggle="modal"
        data-target="#addModal">
        +
    </button>

    <div>
        <div *ngFor="let promotion of promotions; trackBy:util.trackById" class="card my-3">
            <div class="card-header">
                <h3 class="float-left">{{promotion.name}}</h3>
                <div class="float-right">
                    <button class="btn btn-danger btn-list" title="delete promotion"
                        (click)="delete(promotion)">Supprimer</button>

                    <button (click)="updateDataForm(promotion)" type="button" class="btn btn-warning btn-list">
                        Modifier
                    </button>
                </div>
            </div>
            <div class="card-body row">
                <p>
                    {{promotion.reduction}}<span *ngIf="promotion.pourcentage">%</span><span
                        *ngIf="!promotion.pourcentage">€</span> valable du {{promotion.dateDebut}} au
                    {{promotion.dateFin}} de
                    {{promotion.heureDebut}} à {{promotion.heureFin}}
                    <span *ngIf="promotion.jourValide[0]">lundi </span>
                    <span *ngIf="promotion.jourValide[1]">mardi </span>
                    <span *ngIf="promotion.jourValide[2]">mercredi </span>
                    <span *ngIf="promotion.jourValide[3]">jeudi </span>
                    <span *ngIf="promotion.jourValide[4]">vendredi </span>
                    <span *ngIf="promotion.jourValide[5]">samedi </span>
                    <span *ngIf="promotion.jourValide[6]">dimanche </span>
                    <span *ngIf="promotion.jourFerie">et jours fériés</span>
                </p>
            </div>
        </div>
    </div>
</div>