<app-image-modal idModal="updateImageModal" (newItemEvent)="addItem($event)"></app-image-modal>
<div class="container" *ngIf="identite">
    <div class="jumbotron">
        <h2 class="text-center">Mes infos</h2>
    </div>
    <form class="row" [formGroup]="updateForm">
        <div *ngIf="authenticationService.manager" class="col-12 mt-2 mb-5">
            <button type="button" mat-stroked-button class="float-right" (click)="save()">Enregister les
                modifications</button>
        </div>

        <div class="row">
            <h3>Info générale</h3>
            <mat-form-field class="col-md-6" appearance="fill">
                <mat-label>Nom de la société</mat-label>
                <input formControlName="nomEtablissement" type="text" matInput placeholder="Ex: Magic Italian">
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="fill">
                <mat-label>Numéro de siret</mat-label>
                <input formControlName="siret" type="text" matInput placeholder="Ex: 1234567891011">
            </mat-form-field>

            <h3>Description</h3>

            <div class="col-8">
                <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
            </div>

            <div class="col-4">
                <button (click)="showImageUpdateModal()" type="button" class="btn btn-primary col-12 mb-2">Sélectionner
                    un logo</button>
                <img *ngIf="selectImage" src="{{urlDownload}}{{selectImage.gridId}}" style="width:100%" />
            </div>
            <div class="col-6 row mt-2">
                <h3> Adresse</h3>
                <mat-form-field class="col-12" appearance="fill">
                    <mat-label>Adresse</mat-label>
                    <input formControlName="adresse" type="text" matInput placeholder="Ex: 3 rue principale">
                </mat-form-field>
                <mat-form-field class="col-12" appearance="fill">
                    <mat-label>Complement d'adresse</mat-label>
                    <input formControlName="complement" type="text" matInput placeholder="Ex: Bâtiment B">
                </mat-form-field>
                <mat-form-field class="col-8" appearance="fill">
                    <mat-label>Ville</mat-label>
                    <input formControlName="city" type="text" matInput placeholder="Ex: Paris">
                </mat-form-field>
                <mat-form-field class="col-4" appearance="fill">
                    <mat-label>Code postal</mat-label>
                    <input formControlName="zip" type="text" matInput placeholder="Ex: 75000">
                </mat-form-field>
                <mat-form-field class="col-6" appearance="fill">
                    <mat-label>Longitude</mat-label>
                    <input formControlName="longitude" type="number" step="0.0001" matInput placeholder="Ex: 2.3488">
                </mat-form-field>
                <mat-form-field class="col-6" appearance="fill">
                    <mat-label>Latitude</mat-label>
                    <input formControlName="latitude" type="number" step="0.0001" matInput placeholder="Ex: 48.8534">
                </mat-form-field>
            </div>

            <div class="col-6 mt-2">
                <h3>Mes éléments de contacts</h3>
                <table class="table col-12">
                    <thead>
                        <tr>
                            <th scope="col">Clef</th>
                            <th scope="col">Valeur</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contact of identite.contact">
                            <td>{{contact.key}}</td>
                            <td>{{contact.value}}</td>
                            <td><button mat-icon-button color="warn" (click)="deleteKey(contact)">
                                    <mat-icon>delete</mat-icon>
                                </button></td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field class="col-12" appearance="fill">
                                    <mat-label>Clef</mat-label>
                                    <input #key type="text" matInput placeholder="Email, ...">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="col-12" appearance="fill">
                                    <mat-label>Valeur</mat-label>
                                    <input #value type="text" matInput placeholder="l.patrick@high4technology.fr">
                                </mat-form-field>
                            </td>
                            <td>
                                <button (click)="add(key,value);key.value='';value.value=''" type="button"
                                    class="btn btn-success">+</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>