<!-- Modal add-->
<div class="modal fade" id="addModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <form [formGroup]="addForm">
                <div class="modal-header">
                    <h2 class="modal-title" id="addModalLabel">Ajout d'une option pour la carte</h2>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row">
                    <mat-form-field class="col-8" appearance="fill">
                        <mat-label>Label</mat-label>
                        <input formControlName="label" required type="text" matInput placeholder="Ex: Suppléments">
                    </mat-form-field>

                    <div class="col-4 mt-3">
                        <mat-slide-toggle formControlName="unique">Choix unique</mat-slide-toggle>
                    </div>

                    <hr>
                    <h3>Ajouter des choix:</h3>

                    <mat-form-field class="col-8" appearance="fill">
                        <mat-label>Nom du choix</mat-label>
                        <input #addChoixLabel type="text" matInput placeholder="Ex: Beurre à l'ail">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="col-4">
                        <mat-label>Prix</mat-label>
                        <input #addChoixPrice matInput type="number">
                        <span matPrefix>€&nbsp;</span>
                    </mat-form-field>


                    <div class="mb-3">
                        <button class="btn btn-primary"
                            (click)="addChoix(addChoixLabel.value,addChoixPrice.value);addChoixLabel.value='';addChoixPrice.value=''">Ajouter
                            le choix</button>
                    </div>

                    <div cdkDropList class="list" (cdkDropListDropped)="dropChoix($event)">
                        <div (click)="onSelectChoix(choix)" class="box" *ngFor="let choix of addOptionsItem.options"
                            cdkDrag>
                            {{choix.label}} {{choix.price}}€
                            <button class="btn btn-danger" (click)="deleteChoixAdd(choix)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                    <button class="btn btn-primary" (click)="addData()">Ajouter</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal update-->
<div class="modal fade" id="updateModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <form [formGroup]="updateForm">
                <div class="modal-header">
                    <h3 class="modal-title" id="updateModalLabel">Modification de l'option pour la carte</h3>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row" *ngIf="selectedOptionsItem">
                    <mat-form-field class="col-8" appearance="fill">
                        <mat-label>Label</mat-label>
                        <input formControlName="label" required type="text" matInput placeholder="Ex: Suppléments">
                    </mat-form-field>

                    <div class="col-4 mt-3">
                        <mat-slide-toggle formControlName="unique">Choix unique</mat-slide-toggle>
                    </div>

                    <hr>

                    <mat-form-field class="col-8" appearance="fill">
                        <mat-label>Nom du choix</mat-label>
                        <input #addChoixLabel type="text" matInput placeholder="Ex: Beurre à l'ail">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="col-4">
                        <mat-label>Prix</mat-label>
                        <input #addChoixPrice matInput type="number">
                        <span matPrefix>€&nbsp;</span>
                    </mat-form-field>


                    <div class="mb-3">
                        <button class="btn btn-primary"
                            (click)="addChoixUpd(addChoixLabel.value,addChoixPrice.value);addChoixLabel.value='';addChoixPrice.value=''">Ajouter
                            le choix</button>
                    </div>

                    <div cdkDropList class="list" (cdkDropListDropped)="dropChoixUpd($event)">
                        <div (click)="onSelectChoix(choix)" class="box"
                            *ngFor="let choix of selectedOptionsItem.options" cdkDrag>
                            {{choix.label}} {{choix.price}}€
                            <button class="btn btn-danger" (click)="deleteChoixUpd(choix)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                    <button type="submit" (click)="onUpdate()" class="btn btn-primary">Modifier</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <h2 class="text-center">Gestion des options de la carte</h2>
    </div>
    <button *ngIf="authenticationService.manager" type="button" mat-stroked-button data-toggle="modal"
        data-target="#addModal">
        Ajouter une option
    </button>

    <div class="mt-5">
        <div *ngFor="let option of optionsItems;let id=index" (click)="onSelect(option)" class="card my-3">
            <div class="card-header">
                <p class="float-left card-title">{{option.label}}</p>
                <div class="float-right">
                    <button *ngIf="authenticationService.admin" mat-stroked-button color="warn" title="delete allergene"
                        (click)="delete(option)">Supprimer</button>
                    <button *ngIf="authenticationService.manager" type="button" mat-stroked-button
                        (click)="updateDataForm(option)">
                        Modifier
                    </button>
                </div>

            </div>
            <div class="card-body">
                <ng-container *ngIf="option.unique">
                    <div *ngFor="let choix of option.options;let idx=index">
                        <div (*ngif)="option.unique" class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault{{id}}"
                                id="Default{{idx}}">
                            <label class="form-check-label" for="Default{{idx}}">
                                {{choix.label}} <span *ngIf="choix.price>0">{{choix.price}}€</span>
                            </label>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!option.unique">
                    <div *ngFor="let choix of option.options;let idx=index">
                        <div (*ngif)="option.unique" class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="DefaultC{{idx}}">
                                {{choix.label}} <span *ngIf="choix.price>0">{{choix.price}}€</span>
                            </label>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>