.mbutton
{
  width: 100%;padding: 10px;  
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow-y:auto;
}
td,th{
  border:none!important;
}
.cdk-box {
 padding: 20px 10px;
 border: none!important;
 color: rgba(0, 0, 0, 0.87);
 align-items: center;
 display: flex;
 flex-direction: row;
 justify-content:center;
 box-sizing: border-box;
 cursor: move;
 background: white;
 font-size: 14px;
}

.cdk-drag-preview {
 box-sizing: border-box;
 border-radius: 4px;
 box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
             0 8px 10px 1px rgba(0, 0, 0, 0.14),
             0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
 opacity: 0;
}

.cdk-drag-animating {
 transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk_box:last-child {
 border: none;
}

.cdk-list.cdk-drop-list-dragging .cdk-box:not(.cdk-drag-placeholder) {
 transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
allergene-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .allergene-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .allergene-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .allergene-box:last-child {
    border: none;
  }
  
  .allergene-list.cdk-drop-list-dragging .allergene-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
