<app-image-modal idModal="updateImageModal" showAfterClose="updateModal" (newItemEvent)="updateItemImage($event)">
</app-image-modal>
<app-image-modal idModal="addImageModal" showAfterClose="addModal" (newItemEvent)="addItemImage($event)">
</app-image-modal>

<!-- modal Options add-->
<div class="modal fade" id="addModalOptions" aria-labelledby="addModalOptionsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content ">
            <div class="modal-header">
                <h2 class="modal-title" id="addModalOptionsLabel">Choix des options</h2>
                <button type="button" class="btn-close" data-dismiss="modal" data-toggle="modal" data-target="#addModal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div cdkDropListGroup>
                    <div class="row">
                        <div class="allergene-container col-6">
                            <h4>Options disponibles</h4>

                            <div cdkDropList [cdkDropListData]="options" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box"
                                    *ngFor="let option of options;let id=index;trackBy:util.trackById" cdkDrag>
                                    <h3>{{option.label}}</h3>
                                    <div style="display: inline-block;width: 300px;">
                                        <ng-container *ngIf="option.unique">
                                            <div *ngFor="let choix of option.options;let idx=index">
                                                <div (*ngif)="option.unique" class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="flexRadioDefault{{id}}" id="Default{{idx}}">
                                                    <label class="form-check-label" for="Default{{idx}}">
                                                        {{choix.label}} <span
                                                            *ngIf="choix.price>0">{{choix.price}}€</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="!option.unique">
                                            <div *ngFor="let choix of option.options;let idx=index">
                                                <div (*ngif)="option.unique" class="form-check">
                                                    <input class="form-check-input" type="checkbox">
                                                    <label class="form-check-label" for="DefaultC{{idx}}">
                                                        {{choix.label}} <span
                                                            *ngIf="choix.price>0">{{choix.price}}€</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="allergene-container col-6">
                            <h4>Options choisies</h4>

                            <div cdkDropList [cdkDropListData]="optionsSelected" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box"
                                    *ngFor="let option of optionsSelected;let id =index;trackBy:util.trackById" cdkDrag>
                                    <h3>{{option.label}}</h3>
                                    <div style="display: inline-block;width: 300px;">
                                        <ng-container *ngIf="option.unique">
                                            <div *ngFor="let choix of option.options;let idx=index">
                                                <div (*ngif)="option.unique" class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="flexRadioDefault{{id}}" id="1Default{{idx}}">
                                                    <label class="form-check-label" for="1Default{{idx}}">
                                                        {{choix.label}} <span
                                                            *ngIf="choix.price>0">{{choix.price}}€</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="!option.unique">
                                            <div *ngFor="let choix of option.options;let idx=index">
                                                <div (*ngif)="option.unique" class="form-check">
                                                    <input class="form-check-input" type="checkbox">
                                                    <label class="form-check-label" for="1DefaultC{{idx}}">
                                                        {{choix.label}} <span
                                                            *ngIf="choix.price>0">{{choix.price}}€</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addModal"
                    data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- modal Options update-->
<div class="modal fade" id="updateModalOptions" aria-labelledby="updateModalOptionsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down modal-dialog-scrollable">
        <div *ngIf="selectedItem" class="modal-content ">
            <div class="modal-header">
                <h2 class="modal-title" id="updateModalOptionsLabel">Choix des options</h2>
                <button type="button" class="btn-close" data-dismiss="modal" data-toggle="modal"
                    data-target="#updateModal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div cdkDropListGroup>
                    <div class="row">
                        <div class="allergene-container col-6">
                            <h4>Options disponibles</h4>

                            <div cdkDropList [cdkDropListData]="options" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box"
                                    *ngFor="let option of options;let id=index;trackBy:util.trackById" cdkDrag>
                                    <h3>{{option.label}}</h3>
                                    <div style="display: inline-block;width: 300px;">
                                        <ng-container *ngIf="option.unique">
                                            <div *ngFor="let choix of option.options;let idx=index">
                                                <div (*ngif)="option.unique" class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="flexRadioDefault{{id}}" id="Default{{idx}}">
                                                    <label class="form-check-label" for="Default{{idx}}">
                                                        {{choix.label}} <span
                                                            *ngIf="choix.price>0">{{choix.price}}€</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="!option.unique">
                                            <div *ngFor="let choix of option.options;let idx=index">
                                                <div (*ngif)="option.unique" class="form-check">
                                                    <input class="form-check-input" type="checkbox">
                                                    <label class="form-check-label" for="DefaultC{{idx}}">
                                                        {{choix.label}} <span
                                                            *ngIf="choix.price>0">{{choix.price}}€</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="allergene-container col-6">
                            <h4>Options choisies</h4>

                            <div cdkDropList [cdkDropListData]="this.selectedItem.options" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box"
                                    *ngFor="let option of this.selectedItem.options;trackBy:util.trackById;let id=index"
                                    cdkDrag>
                                    <h3>{{option.label}}</h3>
                                    <div style="display: inline-block;width: 300px;">
                                        <ng-container *ngIf="option.unique">
                                            <div *ngFor="let choix of option.options;let idx=index">
                                                <div (*ngif)="option.unique" class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="flexRadioDefault{{id}}" id="Default{{idx}}">
                                                    <label class="form-check-label" for="Default{{idx}}">
                                                        {{choix.label}} <span
                                                            *ngIf="choix.price>0">{{choix.price}}€</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="!option.unique">
                                            <div *ngFor="let choix of option.options;let idx=index">
                                                <div (*ngif)="option.unique" class="form-check">
                                                    <input class="form-check-input" type="checkbox">
                                                    <label class="form-check-label" for="DefaultC{{idx}}">
                                                        {{choix.label}} <span
                                                            *ngIf="choix.price>0">{{choix.price}}€</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#updateModal"
                    data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- modal promotion add-->
<div class="modal fade" id="addModalPromotion" aria-labelledby="addModalPromotionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content ">
            <div class="modal-header">
                <h2 class="modal-title" id="addModalPromotionLabel">Choix des promotionss</h2>
                <button type="button" class="btn-close" data-dismiss="modal" data-toggle="modal" data-target="#addModal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div cdkDropListGroup>
                    <div class="row">
                        <div class="allergene-container col-6">
                            <h4>Promotions disponibles</h4>
                            <div cdkDropList [cdkDropListData]="promotions" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box" *ngFor="let promotion of promotions;trackBy:util.trackById"
                                    cdkDrag>
                                    <p>{{promotion.name}} {{promotion.reduction}}<span
                                            *ngIf="promotion.pourcentage">%</span><span
                                            *ngIf="!promotion.pourcentage">€</span> valable du {{promotion.dateDebut}}
                                        au {{promotion.dateFin}} de
                                        {{promotion.heureDebut}} à {{promotion.heureFin}}
                                        <span *ngIf="promotion.jourValide[0]">lundi </span>
                                        <span *ngIf="promotion.jourValide[1]">mardi </span>
                                        <span *ngIf="promotion.jourValide[2]">mercredi </span>
                                        <span *ngIf="promotion.jourValide[3]">jeudi </span>
                                        <span *ngIf="promotion.jourValide[4]">vendredi </span>
                                        <span *ngIf="promotion.jourValide[5]">samedi </span>
                                        <span *ngIf="promotion.jourValide[6]">dimanche </span>
                                        <span *ngIf="promotion.jourFerie">et jours fériés</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="allergene-container col-6">
                            <h4>Promotions choisies</h4>
                            <div cdkDropList [cdkDropListData]="promotionsSelected" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box"
                                    *ngFor="let promotion of promotionsSelected;trackBy:util.trackById" cdkDrag>
                                    <p>{{promotion.name}} {{promotion.reduction}}<span
                                            *ngIf="promotion.pourcentage">%</span><span
                                            *ngIf="!promotion.pourcentage">€</span> valable du {{promotion.dateDebut}}
                                        au {{promotion.dateFin}} de
                                        {{promotion.heureDebut}} à {{promotion.heureFin}}
                                        <span *ngIf="promotion.jourValide[0]">lundi </span>
                                        <span *ngIf="promotion.jourValide[1]">mardi </span>
                                        <span *ngIf="promotion.jourValide[2]">mercredi </span>
                                        <span *ngIf="promotion.jourValide[3]">jeudi </span>
                                        <span *ngIf="promotion.jourValide[4]">vendredi </span>
                                        <span *ngIf="promotion.jourValide[5]">samedi </span>
                                        <span *ngIf="promotion.jourValide[6]">dimanche </span>
                                        <span *ngIf="promotion.jourFerie">et jours fériés</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addModal"
                    data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- modal promotion update-->
<div class="modal fade" id="updateModalPromotion" aria-labelledby="updateModalPromotionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content" *ngIf="selectedItem">
            <div class="modal-header">
                <h2 class="modal-title" id="updateModalPromotionLabel">Choix des promotionss</h2>
                <button type="button" class="btn-close" data-dismiss="modal" data-toggle="modal"
                    data-target="#updateModal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div cdkDropListGroup>
                    <div class="row">
                        <div class="allergene-container col-6">
                            <h4>Promotions disponibles</h4>
                            <div cdkDropList [cdkDropListData]="promotions" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box" *ngFor="let promotion of promotions;trackBy:util.trackById"
                                    cdkDrag>
                                    <p>{{promotion.name}} {{promotion.reduction}}<span
                                            *ngIf="promotion.pourcentage">%</span><span
                                            *ngIf="!promotion.pourcentage">€</span> valable du {{promotion.dateDebut}}
                                        au {{promotion.dateFin}} de
                                        {{promotion.heureDebut}} à {{promotion.heureFin}}
                                        <span *ngIf="promotion.jourValide[0]">lundi </span>
                                        <span *ngIf="promotion.jourValide[1]">mardi </span>
                                        <span *ngIf="promotion.jourValide[2]">mercredi </span>
                                        <span *ngIf="promotion.jourValide[3]">jeudi </span>
                                        <span *ngIf="promotion.jourValide[4]">vendredi </span>
                                        <span *ngIf="promotion.jourValide[5]">samedi </span>
                                        <span *ngIf="promotion.jourValide[6]">dimanche </span>
                                        <span *ngIf="promotion.jourFerie">et jours fériés</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="allergene-container col-6">
                            <h4>Promotions choisies</h4>
                            <div cdkDropList [cdkDropListData]="selectedItem.promotions" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box"
                                    *ngFor="let promotion of selectedItem.promotions;trackBy:util.trackById" cdkDrag>
                                    <p>{{promotion.name}} {{promotion.reduction}}<span
                                            *ngIf="promotion.pourcentage">%</span><span
                                            *ngIf="!promotion.pourcentage">€</span> valable du {{promotion.dateDebut}}
                                        au {{promotion.dateFin}} de
                                        {{promotion.heureDebut}} à {{promotion.heureFin}}
                                        <span *ngIf="promotion.jourValide[0]">lundi </span>
                                        <span *ngIf="promotion.jourValide[1]">mardi </span>
                                        <span *ngIf="promotion.jourValide[2]">mercredi </span>
                                        <span *ngIf="promotion.jourValide[3]">jeudi </span>
                                        <span *ngIf="promotion.jourValide[4]">vendredi </span>
                                        <span *ngIf="promotion.jourValide[5]">samedi </span>
                                        <span *ngIf="promotion.jourValide[6]">dimanche </span>
                                        <span *ngIf="promotion.jourFerie">et jours fériés</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#updateModal"
                    data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- modal allergene update-->
<div class="modal fade" id="updateModalAllergene" aria-labelledby="updateModalAllergeneLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content" *ngIf="selectedItem">
            <div class="modal-header">
                <h2 class="modal-title" id="updateModalAllergeneLabel">Choix des allergenes</h2>
                <button type="button" class="btn-close" data-dismiss="modal" data-toggle="modal"
                    data-target="#updateModal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div cdkDropListGroup>
                    <div class="row">
                        <div class="allergene-container col-6">
                            <h4>Allergenes disponibles</h4>

                            <div cdkDropList [cdkDropListData]="allergenes" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box" *ngFor="let item of allergenes;trackBy:util.trackById"
                                    cdkDrag>{{item.name}}</div>
                            </div>
                        </div>

                        <div class="allergene-container col-6">
                            <h4>Allergenes choisis</h4>

                            <div cdkDropList [cdkDropListData]="selectedItem.allergenes" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box"
                                    *ngFor="let item of selectedItem.allergenes;trackBy:util.trackById()" cdkDrag>
                                    {{item.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#updateModal"
                    data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- modal allergene add-->
<div class="modal fade" id="addModalAllergene" aria-labelledby="addModalAllergeneLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content ">
            <div class="modal-header">
                <h2 class="modal-title" id="addModalAllergeneLabel">Choix des allergenes</h2>
                <button type="button" class="btn-close" data-dismiss="modal" data-toggle="modal" data-target="#addModal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div cdkDropListGroup>
                    <div class="row">
                        <div class="allergene-container col-6">
                            <h4>Allergenes disponibles</h4>

                            <div cdkDropList [cdkDropListData]="allergenes" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box" *ngFor="let item of allergenes;trackBy:util.trackById"
                                    cdkDrag>{{item.name}}</div>
                            </div>
                        </div>

                        <div class="allergene-container col-6">
                            <h4>Allergenes choisis</h4>

                            <div cdkDropList [cdkDropListData]="allergenesAdd" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box" *ngFor="let item of allergenesAdd;trackBy:util.trackById"
                                    cdkDrag>{{item.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addModal"
                    data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="addModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="addModaLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <form [formGroup]="addForm" (ngSubmit)="addData()">
                <div class="modal-header">
                    <h3 class="modal-title" id="addModaLabel">Ajout d'un item</h3>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
                        id="closeAddModal"></button>
                </div>
                <div class="modal-body row">
                    <div class="col-lg-6 row">
                        <mat-form-field class="col-12" appearance="fill">
                            <mat-label>Titre de l'item</mat-label>
                            <input formControlName="name" type="text" matInput
                                placeholder="Ex: Lasagne a la bolognaise">
                        </mat-form-field>

                        <mat-form-field class="col-12" appearance="fill">
                            <mat-label>Prix</mat-label>
                            <input formControlName="price" type="number" matInput step="0.01">
                        </mat-form-field>

                        <mat-form-field class="col-md-8" appearance="fill">
                            <mat-label>Taux de la TVA</mat-label>
                            <mat-select formControlName="tva">
                                <mat-option *ngFor="let tva of tvas" [value]="tva">
                                    {{tva.taux}} %
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="col-md-4">
                            <mat-slide-toggle formControlName="visible">Visibilité</mat-slide-toggle>
                        </div>

                        <mat-form-field appearance="fill" class="col-12">
                            <mat-label>Catégorie de l'item</mat-label>
                            <mat-select formControlName="categorie">
                                <mat-option *ngFor="let categorie of categories" [value]="categorie">
                                    {{categorie.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class="col-lg-6">
                        <editor [init]="{language: 'fr_FR',height:300}" formControlName="description"
                            apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
                    </div>
                    <hr class="mt-3" />
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <button type="button" class="btn btn-info mbutton" (click)="addSelectImage()"
                            data-dismiss="modal">
                            Image
                        </button>
                        <div class="col-12" *ngIf="selectedImage">
                            <img src="{{urlDownload}}{{selectedImage.gridId}}" class="img-thumbnail text-center"
                                width="100%" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <button type="button" class="btn btn-info mbutton" (click)="addSelectAllergene()"
                            data-dismiss="modal">
                            Allergenes
                        </button>
                        <div class="col-12">
                            <ul>
                                <li *ngFor="let allergene of allergenesAdd;trackBy:util.trackById">
                                    {{allergene.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <button type="button" class="btn btn-info mbutton" (click)="addSelectedOptions()"
                            data-dismiss="modal">
                            Options
                        </button>
                        <div class="col-12">
                            <div *ngFor="let option of optionsSelected;trackBy:util.trackById;let id=index">
                                <div *ngIf="option.unique">
                                    <h3>{{option.label}}</h3>
                                    <div *ngFor="let choix of option.options;let idx=index">
                                        <div (*ngif)="option.unique" class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault{{id}}"
                                                id="Default{{idx}}">
                                            <label class="form-check-label" for="Default{{idx}}">
                                                {{choix.label}} <span *ngIf="choix.price>0">{{choix.price}}€</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!option.unique">
                                    <h3>{{option.label}}</h3>
                                    <div *ngFor="let choix of option.options;let idx=index">
                                        <div (*ngif)="option.unique" class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="DefaultC{{idx}}">
                                                {{choix.label}} <span *ngIf="choix.price>0">{{choix.price}}€</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <button type="button" class="btn btn-info mbutton" (click)="addSelectedPromotions()"
                            data-dismiss="modal">
                            Statégie de promotions
                        </button>
                        <div class="col-12">
                            <div class="mb-3" *ngFor="let promotion of this.promotionsSelected;trackBy:util.trackById">
                                <h3>{{promotion.name}}</h3>
                                <p>{{promotion.reduction}}<span *ngIf="promotion.pourcentage">%</span><span
                                        *ngIf="!promotion.pourcentage">€</span> valable du
                                    {{promotion.dateDebut}} au {{promotion.dateFin}} de
                                    {{promotion.heureDebut}} à {{promotion.heureFin}}
                                    <span *ngIf="promotion.jourValide[0]">lundi </span>
                                    <span *ngIf="promotion.jourValide[1]">mardi </span>
                                    <span *ngIf="promotion.jourValide[2]">mercredi </span>
                                    <span *ngIf="promotion.jourValide[3]">jeudi </span>
                                    <span *ngIf="promotion.jourValide[4]">vendredi </span>
                                    <span *ngIf="promotion.jourValide[5]">samedi </span>
                                    <span *ngIf="promotion.jourValide[6]">dimanche </span>
                                    <span *ngIf="promotion.jourFerie">et jours fériés</span>
                                </p>
                                <hr />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                    <button type="submit" class="btn btn-primary">
                        Ajouter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal update-->
<div class="modal fade" id="updateModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content ">
            <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
                <div class="modal-header">
                    <h3 class="modal-title" id="updateModalLabel">Modification de l'item</h3>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
                        id="closeUpdateModal"></button>
                </div>
                <div class="modal-body row" *ngIf="selectedItem">
                    <div class="col-lg-6 row">
                        <mat-form-field class="col-12" appearance="fill">
                            <mat-label>Titre de l'item</mat-label>
                            <input formControlName="name" type="text" matInput
                                placeholder="Ex: Lasagne a la bolognaise">
                        </mat-form-field>

                        <mat-form-field class="col-12" appearance="fill">
                            <mat-label>Prix</mat-label>
                            <input formControlName="price" type="number" matInput step="0.01">
                        </mat-form-field>

                        <mat-form-field class="col-md-8" appearance="fill">
                            <mat-label>Taux de la TVA</mat-label>
                            <mat-select [compareWith]="compareFn" formControlName="tva">
                                <mat-option *ngFor="let tva of tvas" [value]="tva">
                                    {{tva.taux}} %
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="col-md-4">
                            <mat-slide-toggle formControlName="visible">Visibilité</mat-slide-toggle>
                        </div>

                        <mat-form-field appearance="fill" class="col-12">
                            <mat-label>Catégorie de l'item</mat-label>
                            <mat-select [compareWith]="compareFn" formControlName="categorie">
                                <mat-option *ngFor="let categorie of categories" [value]="categorie">
                                    {{categorie.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class="col-lg-6">
                        <editor [init]="{language: 'fr_FR',height:300}" formControlName="description"
                            apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
                    </div>
                    <hr class="mt-3" />
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <button type="button" class="btn btn-info mbutton" (click)="updateSelectImage()"
                            data-dismiss="modal">
                            Image
                        </button>
                        <div class="col-12" *ngIf="selectedImage">
                            <img src="{{urlDownload}}{{selectedItem.sourceImage.gridId}}"
                                class="img-thumbnail text-center" width="100%" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <button type="button" class="btn btn-info mbutton" (click)="updateSelectAllergene()"
                            data-dismiss="modal">
                            Allergenes
                        </button>
                        <div class="col-12">
                            <ul>
                                <li *ngFor="let allergene of selectedItem.allergenes;trackBy:util.trackById()">
                                    {{allergene.name}}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <button type="button" class="btn btn-info mbutton" (click)="updateSelectedOptions()"
                            data-dismiss="modal">
                            Options
                        </button>
                        <div *ngFor="let option of this.selectedItem.options;trackBy:util.trackById;let id=index">
                            <div *ngIf="option.unique">
                                <h3>{{option.label}}</h3>
                                <div *ngFor="let choix of option.options;let idx=index">
                                    <div (*ngif)="option.unique" class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault{{id}}"
                                            id="Default{{idx}}">
                                        <label class="form-check-label" for="Default{{idx}}">
                                            {{choix.label}} <span *ngIf="choix.price>0">{{choix.price}}€</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!option.unique">
                                <h3>{{option.label}}</h3>
                                <div *ngFor="let choix of option.options;let idx=index">
                                    <div (*ngif)="option.unique" class="form-check">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label" for="DefaultC{{idx}}">
                                            {{choix.label}} <span *ngIf="choix.price>0">{{choix.price}}€</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <button type="button" class="btn btn-info mbutton" (click)="updateSelectedPromotions()"
                            data-dismiss="modal">
                            Statégie de promotions
                        </button>
                        <div class="col-12">
                            <div class="mb-3"
                                *ngFor="let promotion of this.selectedItem.promotions;trackBy:util.trackById">
                                <h3>{{promotion.name}}</h3>
                                <p>{{promotion.reduction}}<span *ngIf="promotion.pourcentage">%</span><span
                                        *ngIf="!promotion.pourcentage">€</span> valable du
                                    {{promotion.dateDebut}} au {{promotion.dateFin}} de
                                    {{promotion.heureDebut}} à {{promotion.heureFin}}
                                    <span *ngIf="promotion.jourValide[0]">lundi </span>
                                    <span *ngIf="promotion.jourValide[1]">mardi </span>
                                    <span *ngIf="promotion.jourValide[2]">mercredi </span>
                                    <span *ngIf="promotion.jourValide[3]">jeudi </span>
                                    <span *ngIf="promotion.jourValide[4]">vendredi </span>
                                    <span *ngIf="promotion.jourValide[5]">samedi </span>
                                    <span *ngIf="promotion.jourValide[6]">dimanche </span>
                                    <span *ngIf="promotion.jourFerie">et jours fériés</span>
                                </p>
                                <hr />
                            </div>
                        </div>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                    <button type="submit" class="btn btn-primary">
                        Modifier
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <div class="jumbotron">
            <h2 class="text-center">Gestion des éléments de la carte</h2>
        </div>

        <mat-button-toggle-group matPrefix aria-label="Default select">
            <mat-button-toggle *ngFor="let categorie of categories;let idx=index;trackBy:util.trackById"
                (click)="filter(categorie)">{{categorie.name}}</mat-button-toggle>
            <mat-button-toggle (click)="filter(null)">Catégorie null</mat-button-toggle>
            <mat-form-field *ngIf="authenticationService.manager" appearance="" class="ml-3" style="max-height: 50px;">
                <mat-label>Ajout rapide d'une catégorie</mat-label>
                <input #cattegorieName type="text" matInput placeholder="Ex: Nouveauté">
                <button matSuffix (click)="addCategorie(cattegorieName.value);cattegorieName.value=''"
                    class="btn btn btn-secondary mb-2">+</button>
            </mat-form-field>
        </mat-button-toggle-group>
        <span *ngIf="authenticationService.manager">
            <button *ngIf="itemCategorie" type="button" mat-stroked-button class="ml-3" data-toggle="modal"
                data-target="#addModal">
                Créer un item
            </button>
        </span>
    </div>

    <div cdkDropList (cdkDropListDropped)="dropC($event)" class="cdk-list mt-5">
        <div *ngFor="let item of itemsCarte;trackBy:util.trackById" cdkDrag cdkDragLockAxis="y"
            (click)="selectItem(item)" class="cdk-box">
            <div class="card col-12">
                <div class="card-header">
                    <p class="float-left card-title">{{item.name}}</p>
                    <div class="float-right">
                        <button *ngIf="authenticationService.admin" (click)="delete(item)"
                            mat-stroked-button color="warn">Suprimer</button>
                        <button *ngIf="authenticationService.manager" type="button" mat-stroked-button
                            (click)="updateDataForm(item)">
                            Modifier
                        </button>
                    </div>
                </div>
                <div class="card-body row">
                    <div class="col-sm-3">
                        <img src="{{urlDownload}}{{item.sourceImage.gridId}}" class="thumbnail" width="120px"
                            alt="{{item.sourceImage.alt}}" />
                    </div>
                    <div class="col-sm-7">
                        <p [innerHtml]="item.description"></p>
                    </div>
                    <div class="col-sm-2">
                        <p><b>{{item.price}}€</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>