<!-- Modal update-->
<div class="modal fade" id="updateAlbum" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="updateAlbumLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-dialog-scrollable">
            <form [formGroup]="updateForm" (ngSubmit)="onUpdate()" *ngIf="selectedAlbum">
                <div class="modal-header">
                    <h3 class="modal-title" id="updateAlbumLabel">Modification de l'album</h3>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Mise à jour de la valeur</h3>
                    <div class="mb-3">
                        <label for="updateN" class="form-label">Nom de l'album</label>
                        <input formControlName="name" required id="updateN" placeholder="Nom" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="updateD" class="form-label">Description</label>
                        <editor [init]="{language: 'fr_FR'}" formControlName="description"
                            apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
                    </div>
                    <div cdkDropListGroup>
                        <div class="row">
                            <div class="album-container col-6">
                                <h2>Photos disponibles</h2>
                                <div class="dragable">
                                    <div cdkDropList [cdkDropListData]="images" class="album-list"
                                    (cdkDropListDropped)="drop($event)">
                                    <div class="album-box" *ngFor="let image of images" cdkDrag>
                                        <div class="row">
                                            <span class="col-9">{{image.description}}</span>
                                            <img class=" col-2" src="{{urlDownload}}{{image.gridId}}"
                                                alt="{{image.description}}">
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <div class="album-container col-6">
                                <h2>Photos choisis</h2>
                                <div cdkDropList [cdkDropListData]="selectedAlbum.photos" class="album-list"
                                    (cdkDropListDropped)="drop($event)">
                                    <div class="album-box" *ngFor="let image of selectedAlbum.photos" cdkDrag>
                                        <div class="row">
                                            <span class="col-10">{{image.description}}</span>
                                            <img class=" col-2" src="{{urlDownload}}{{image.gridId}}"
                                                alt="{{image.description}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                    <button type="submit" class="btn btn-warning">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="addAlbum" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="albumLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-dialog-scrollable">
            <form [formGroup]="addForm" (ngSubmit)="addData()">
                <div class="modal-header">
                    <h3 class="modal-title" id="albumLabel">Ajout d'un album</h3>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="inputNameAlbum">Nom de l'album</label>
                        <input formControlName="name" required class="form-control" id="inputNameAlbum"
                            placeholder="Taper la dénomination">
                    </div>
                    <div class="mb-3">
                        <label for="addD" class="form-label">Description</label>
                        <editor [init]="{language: 'fr_FR'}" formControlName="description"
                            apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
                    </div>

                    <div cdkDropListGroup>
                        <div class="row">
                            <div class="album-container col-6">
                                <h2>Photos disponibles</h2>
                                <div class="dragable">
                                    <div cdkDropList [cdkDropListData]="images" class="album-list"
                                    (cdkDropListDropped)="drop($event)">
                                    <div class="album-box" *ngFor="let image of images" cdkDrag>
                                        <div class="row">
                                            <span class="col-9">{{image.description}}</span>
                                            <img class=" col-2" src="{{urlDownload}}{{image.gridId}}"
                                                alt="{{image.description}}">
                                        </div>
                                    </div>
                                </div>
                                </div>

                            </div>

                            <div class="album-container col-6">
                                <h2>Photos choisis</h2>
                                <div cdkDropList [cdkDropListData]="addAlbum.photos" class="album-list"
                                    (cdkDropListDropped)="drop($event)">
                                    <div class="album-box" *ngFor="let image of addAlbum.photos" cdkDrag>
                                        <div class="row">
                                            <span class="col-10">{{image.description}}</span>
                                            <img class=" col-2" src="{{urlDownload}}{{image.gridId}}"
                                                alt="{{image.description}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<h2 class="text-center">Gestion des albums</h2>
<div class="container">
    <button type="button" style="border-radius: 0px;margin:10px" class="btn btn-success btn-lg" data-toggle="modal"
        data-target="#addAlbum" (click)="loadListImage()">
        +
    </button>
    <form>
        <table class="table">
            <tbody>
                <tr *ngFor="let album of albums; trackBy:util.trackById">
                    <td class="col-8">
                        <div class="row">
                            <h3>{{album.name}}</h3>
                            <p [innerHTML]="album.description"></p>
                        </div>
                        <div class="row">
                            <div class="col-3" *ngFor="let image of album.photos; trackBy:util.trackById">
                                <figure class="figure">
                                    <img src="{{urlDownload}}{{image.gridId}}" class="figure-img img-fluid rounded"
                                        alt="{{image.description}}">
                                    <figcaption class="figure-caption">{{image.description}}</figcaption>
                                </figure>
                            </div>
                        </div>
                    </td>
                    <td class="col-4">
                        <button class="btn btn-danger" title="delete album" (click)="delete(album)">Supprimer</button>
                        <span style="margin: 10px;"> </span>
                        <button (click)="updateDataForm(album)" type="button" class="btn btn-warning">
                            Modifier
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>