<!-- Modal update-->
<div class="modal fade" id="updateAllergene" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="updateAllergeneLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
        <div class="modal-header">
          <h3 class="modal-title" id="updateAllergeneLabel">Modification de l'allergene</h3>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row">
          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Nom de l'allèrgene</mat-label>
            <input formControlName="name" required type="text" matInput placeholder="Gluten">
          </mat-form-field>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="submit" class="btn btn-warning">Modifier</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="addAllergene" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="allergeneLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="addForm" (ngSubmit)="addData()">
        <div class="modal-header">
          <h3 class="modal-title" id="allergeneLabel">Ajout d'un allergene</h3>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row">
          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Nom de l'allèrgene</mat-label>
            <input formControlName="name" required type="text" matInput placeholder="Gluten">
          </mat-form-field>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">Gestion des allergenes</h2>
  </div>
  <button *ngIf="authenticationService.manager" type="button" mat-stroked-button data-toggle="modal"
    data-target="#addAllergene">
    Ajouter un allergene
  </button>

  <div class="mt-5">
    <div *ngFor="let allergene of allergenes; trackBy:util.trackById" class="card my-3">
      <div class="card-header">
        <p class="float-left card-title">{{allergene.name}}</p>
        <div class="float-right">
          <button *ngIf="authenticationService.admin" mat-stroked-button color="warn" title="delete allergene"
            (click)="delete(allergene)">Supprimer</button>
          <button *ngIf="authenticationService.manager" (click)="updateDataForm(allergene)" type="button"
            mat-stroked-button>
            Modifier
          </button>
        </div>

      </div>
    </div>
  </div>