<app-image-modal idModal="updateImageModal" showAfterClose="updateArticleCategorie"
  (newItemEvent)="updateImage($event)"></app-image-modal>
<app-image-modal idModal="addImageModal" showAfterClose="addArticleCategorie" (newItemEvent)="addImage($event)">
</app-image-modal>
<app-image-modal idModal="updateIconModal" showAfterClose="updateArticleCategorie" (newItemEvent)="updateIcon($event)">
</app-image-modal>
<app-image-modal idModal="addIconModal" showAfterClose="addArticleCategorie" (newItemEvent)="addIcon($event)">
</app-image-modal>

<!-- Modal update -->
<div class="modal fade" id="updateArticleCategorie" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="updateArticleCategorieLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
        <div class="modal-header">
          <h2 class="modal-title" id="updateArticleCategorieLabel">Modification de la catégorie</h2>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="updateClose"></button>
        </div>
        <div class="modal-body row">
          <div *ngIf="selectedArticleCategorie">

            <mat-form-field class="col-12" appearance="fill">
              <mat-label>Nom de la catégorie</mat-label>
              <input formControlName="name" type="text" matInput placeholder="Ex: Actualité">
            </mat-form-field>

            <div class="col-12">
              <label class="form-label">Description:</label>
              <editor [init]="{language: 'fr_FR'}" formControlName="description"
                apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
            </div>
            <div class="row">
              <div class="col-6 text-center">
                <button type="button" class="btn btn-primary btn-list" (click)="showUpdateImage()" data-dismiss="modal">
                  Image ...
                </button>
                <img *ngIf="selectedArticleCategorie.image"
                  src="{{urlDownload}}{{selectedArticleCategorie.image.gridId}}" style="width:100%" />
              </div>
              <div class="col-6 text-center">
                <button type="button" class="btn btn-primary btn-list" (click)="showUpdateIcon()" data-dismiss="modal">
                  Logo ...
                </button>
                <img *ngIf="selectedArticleCategorie.iconImage"
                  src="{{urlDownload}}{{selectedArticleCategorie.iconImage.gridId}}" style="width:100%" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="submit" class="btn btn-warning">Modifier</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="addArticleCategorie" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="addArticleCategorieel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="addForm">
        <div class="modal-header">
          <h2 class="modal-title" id="addArticleCategorieel">Ajout d'une catégorie</h2>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="addClose"></button>
        </div>
        <div class="modal-body row">
          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Nom de la catégorie</mat-label>
            <input formControlName="name" type="text" matInput placeholder="Ex: Actualité">
          </mat-form-field>
          <div class="col-12">
            <label class="form-label">Description:</label>
            <editor [init]="{language: 'fr_FR'}" formControlName="description"
              apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
          </div>
          <div class="row">
            <div class="col-6 text-center">
              <button type="button" class="btn btn-primary btn-list" (click)="showAddImage()" data-dismiss="modal">
                Image ...
              </button>
              <img *ngIf="addArticleCategorie.image" src="{{urlDownload}}{{addArticleCategorie.image.gridId}}"
                style="width:100%" />
            </div>
            <div class="col-6 text-center">
              <button type="button" class="btn btn-primary btn-list" (click)="showAddIcon()" data-dismiss="modal">
                Logo ...
              </button>
              <img *ngIf="addArticleCategorie.iconImage" src="{{urlDownload}}{{addArticleCategorie.iconImage.gridId}}"
                style="width:100%" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="button" class="btn btn-primary" (click)="addData()">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>

<h2 class="text-center">Gestion des catégories d'articles</h2>
<div class="container">
  <button type="button" style="border-radius: 0px;margin:10px" class="btn btn-success btn-lg" data-toggle="modal"
    data-target="#addArticleCategorie">
    +
  </button>
  <form>
    <table class="table">
      <tbody cdkDropList (cdkDropListDropped)="drop($event)" class="cdk-list">
        <tr *ngFor="let articleCategorie of articleCategories;trackBy:util.trackById" class="cdk-box" cdkDrag
          cdkDragLockAxis="y">
          <th>
            <div class="drag-handle">
              <ng-container [ngTemplateOutlet]="dragHandleTmpl"> </ng-container>
              {{ articleCategorie.order }}
            </div>
          </th>
          <td>{{articleCategorie.name}}</td>
          <td>
            <button class="btn btn-danger btn-list" title="delete articleCategorie"
              (click)="delete(articleCategorie)">Supprimer</button>
            <span style="margin: 10px;"> </span>
            <button (click)="updateDataForm(articleCategorie)" type="button" class="btn btn-warning btn-list">
              Modifier
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<ng-template #dragHandleTmpl>
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-up" fill="currentColor"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
      d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
  </svg>
</ng-template>