<app-image-modal idModal="updateImageModal" showAfterClose="updateArticleCategorie"
  (newItemEvent)="updateImage($event)"></app-image-modal>
<app-image-modal idModal="addImageModal" showAfterClose="addArticleCategorie" (newItemEvent)="addImage($event)">
</app-image-modal>
<app-image-modal idModal="updateIconModal" showAfterClose="updateArticleCategorie" (newItemEvent)="updateIcon($event)">
</app-image-modal>
<app-image-modal idModal="addIconModal" showAfterClose="addArticleCategorie" (newItemEvent)="addIcon($event)">
</app-image-modal>

<!-- Modal update -->
<div class="modal fade" id="updateArticleCategorie" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="updateArticleCategorieLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
        <div class="modal-header">
          <h2 class="modal-title" id="updateArticleCategorieLabel">Modification de la catégorie</h2>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="updateClose"></button>
        </div>
        <div class="modal-body row">
          <div *ngIf="selectedArticleCategorie">

            <mat-form-field class="col-8" appearance="fill">
              <mat-label>Nom de la catégorie</mat-label>
              <input formControlName="name" type="text" matInput placeholder="Ex: Actualité">
            </mat-form-field>
            <mat-slide-toggle class="col-4" formControlName="visible">Visible</mat-slide-toggle>

            <div class="col-12">
              <label class="form-label">Description:</label>
              <editor [init]="{language: 'fr_FR'}" formControlName="description"
                apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
            </div>
            <div class="row">
              <div class="col-6 text-center">
                <button type="button" class="btn btn-primary btn-list" (click)="showUpdateImage()" data-dismiss="modal">
                  Image ...
                </button>
                <img *ngIf="selectedArticleCategorie.image"
                  src="{{urlDownload}}{{selectedArticleCategorie.image.gridId}}" style="width:100%" />
              </div>
              <div class="col-6 text-center">
                <button type="button" class="btn btn-primary btn-list" (click)="showUpdateIcon()" data-dismiss="modal">
                  Logo ...
                </button>
                <img *ngIf="selectedArticleCategorie.iconImage"
                  src="{{urlDownload}}{{selectedArticleCategorie.iconImage.gridId}}" style="width:100%" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="submit" class="btn btn-warning">Modifier</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="addArticleCategorie" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="addArticleCategorieel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="addForm">
        <div class="modal-header">
          <h2 class="modal-title" id="addArticleCategorieel">Ajout d'une catégorie</h2>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="addClose"></button>
        </div>
        <div class="modal-body row">
          <mat-form-field class="col-8" appearance="fill">
            <mat-label>Nom de la catégorie</mat-label>
            <input formControlName="name" type="text" matInput placeholder="Ex: Actualité">
          </mat-form-field>
          <mat-slide-toggle class="col-4" formControlName="visible">Visible</mat-slide-toggle>
          <div class="col-12">
            <label class="form-label">Description:</label>
            <editor [init]="{language: 'fr_FR'}" formControlName="description"
              apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
          </div>
          <div class="row">
            <div class="col-6 text-center">
              <button type="button" class="btn btn-primary btn-list" (click)="showAddImage()" data-dismiss="modal">
                Image ...
              </button>
              <img *ngIf="addArticleCategorie.image" src="{{urlDownload}}{{addArticleCategorie.image.gridId}}"
                style="width:100%" />
            </div>
            <div class="col-6 text-center">
              <button type="button" class="btn btn-primary btn-list" (click)="showAddIcon()" data-dismiss="modal">
                Logo ...
              </button>
              <img *ngIf="addArticleCategorie.iconImage" src="{{urlDownload}}{{addArticleCategorie.iconImage.gridId}}"
                style="width:100%" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="button" class="btn btn-primary" (click)="addData()">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">Gestion des catégories d'articles</h2>
  </div>
  <button *ngIf="authenticationService.editor" type="button" mat-stroked-button data-toggle="modal" data-target="#addArticleCategorie">
    Ajouter une catégorie
  </button>
  <div cdkDropList (cdkDropListDropped)="drop($event)" class="cdk-list mt-5">
    <div *ngFor="let articleCategorie of articleCategories;trackBy:util.trackById" class="cdk-box" cdkDragLockAxis="y"
      cdkDrag class="card my-3">
      <div class="card-header">
        <p class="float-left card-title">{{articleCategorie.name}}</p>
        <div class="float-right">
          <button *ngIf="authenticationService.admin" mat-stroked-button color="warn" title="delete articleCategorie"
            (click)="delete(articleCategorie)">Supprimer</button>
          <span style="margin: 10px;"> </span>
          <button *ngIf="authenticationService.editor" (click)="updateDataForm(articleCategorie)" type="button" mat-stroked-button>
            Modifier
          </button>
        </div>
      </div>
    </div>
  </div>
</div>