<!-- Modal update-->
<div class="modal fade" id="updateModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
        <div class="modal-header">
          <h2 class="modal-title" id="updateModalLabel">Modification de la TVA</h2>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="selectedTva">

            <mat-form-field class="col-12" appearance="fill">
              <mat-label>Taux de la tva</mat-label>
              <input formControlName="taux" type="number" matInput>
            </mat-form-field>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="submit" class="btn btn-warning">Modifier</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="addModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="addForm" (ngSubmit)="addData()">
        <div class="modal-header">
          <h2 class="modal-title" id="addModalLabel">Ajout d'un taux tva</h2>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Taux de la tva</mat-label>
            <input formControlName="taux" type="number" matInput>
          </mat-form-field>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h2 class="text-center">Gestion des taux TVA</h2>
</div>

<div class="container">
  <button *ngIf="authenticationService.manager" type="button" mat-stroked-button data-toggle="modal"
    data-target="#addModal">
    Ajouter un taux de TVA
  </button>
  <div class="mt-5">
    <div *ngFor="let tva of tvas" (click)="onSelect(tva)" class="card my-3">
      <div class="card-header">
        <p class="float-left card-title">{{tva.taux}}%</p>
        <div class="float-right">
          <button *ngIf="authenticationService.admin" mat-stroked-button color="warn" title="delete tva"
            (click)="delete(tva)">Supprimer</button>
          <button *ngIf="authenticationService.manager" type="button" mat-stroked-button (click)="updateDataForm(tva)">
            Modifier
          </button>
        </div>
      </div>
    </div>
  </div>

</div>