<h2 class="text-center">Horaire de l'établissement</h2>

<div class="container" *ngIf="horaire">
    <div class="row">
        <div class="col-12 mt-3 mb-5">
            <button type="button" class="btn btn-warning float-right" (click)="save()">Enregistrer les modifications</button>
        </div>
        <div class="col-md-4" >
            <div class="card mcard">
                <h3 class="card-header">Lundi</h3>
                <div class="card-body">
                    <p class="card-text row" *ngFor="let between of horaire.lundi;trackBy:util.trackById">
                        <span class="col-10 mtop">{{between.debut}} à {{between.fin}}</span> 
                        <button class="btn btn-danger col-2" (click)="deleteBetween(between,0)">X</button>
                    </p>
                </div>
                <div class="card-text card-footer">
                    <div class="mbottom">
                        <label class="col-1 text-center">De </label>
                        <ngx-material-timepicker #picker></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker" [format]=24   #lundiDe type="time"/>
                        <label class="col-1 text-center"> à </label>
                        <ngx-material-timepicker #picker1></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker1" [format]=24   #lundiFi type="time" />
                    </div>
                    <button class="col-12 btn btn-success col-2" type="button"
                        (click)="addBetween(lundiDe,lundiFi,0);lundiDe.value='';lundiFi.value=''">
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="card mcard">
                <h3 class="card-header">Mardi</h3>
                <div class="card-body">
                    <p class="card-text row" *ngFor="let between of horaire.mardi;trackBy:util.trackById">
                        <span class="col-10 mtop">{{between.debut}} à {{between.fin}}</span> 
                        <button class="btn btn-danger col-2" (click)="deleteBetween(between,1)">X</button>
                    </p>
                </div>
                <div class="card-text card-footer">
                    <div class="mbottom">
                        <label class="col-1 text-center">De </label>
                        <ngx-material-timepicker #picker2></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker2" [format]=24  #mardiDe type="time" />
                        <label class="col-1 text-center"> à </label>
                        <ngx-material-timepicker #picker3></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker3" [format]=24  #mardiFi type="time" />
                        </div>
                    <button class="col-12 btn btn-success" type="button"
                        (click)="addBetween(mardiDe,mardiFi,1);mardiDe.value='';mardiFi.value=''">
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="card mcard">
                <h3 class="card-header">Mercredi</h3>
                <div class="card-body">
                    <p class="card-text row" *ngFor="let between of horaire.mercredi;trackBy:util.trackById">
                        <span class="col-10 mtop">{{between.debut}} à {{between.fin}}</span> 
                        <span class="btn btn-danger col-2" (click)="deleteBetween(between,2)">X</span>
                    </p>
                </div>
                <div class="card-text card-footer">
                    <div class="mbottom">
                        <label class="col-1 text-center">De </label>
                        <ngx-material-timepicker #picker4></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker4" [format]=24 #mercrediDe type="time" />
                        <label class="col-1 text-center"> à </label>
                        <ngx-material-timepicker #picker5></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker5" [format]=24 #mercrediFi type="time" />
                        </div>
                    <button class="btn btn-success col-12" type="button"
                        (click)="addBetween(mercrediDe,mercrediFi,2);mercrediDe.value='';mercrediFi.value=''">
                        +
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row xmtop">
        <div class="col-md-4" >
            <div class="card mcard">
                <h3 class="card-header">Jeudi</h3>
                <div class="card-body">
                    <p class="card-text row" *ngFor="let between of horaire.jeudi;trackBy:util.trackById">
                        <span class="col-10 mtop">{{between.debut}} à {{between.fin}}</span> 
                        <span class="btn btn-danger col-2" (click)="deleteBetween(between,3)">X</span>
                    </p>
                </div>
                <div class="card-text card-footer">
                    <div class="mbottom">
                        <label class="col-1 text-center">De </label>
                        <ngx-material-timepicker #picker6></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker6" [format]=24 #jeudiDe type="time" />
                        <label class="col-1 text-center"> à </label>
                        <ngx-material-timepicker #picker7></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker7" [format]=24 #jeudiFi type="time" />
                    </div>
                    <button class="btn btn-success col-12" type="button"
                        (click)="addBetween(jeudiDe,jeudiFi,3);jeudiDe.value='';jeudiFi.value=''">
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="card mcard">
                <h3 class="card-header">Vendredi</h3>
                <div class="card-body">
                    <p class="card-text row" *ngFor="let between of horaire.vendredi;trackBy:util.trackById">
                        <span class="col-10 mtop">{{between.debut}} à {{between.fin}}</span> 
                        <span class="btn btn-danger col-2" (click)="deleteBetween(between,4)">X</span>
                    </p>
                </div>
                <div class="card-text card-footer">
                    <div class="mbottom">
                        <label class="col-1 text-center">De </label>
                        <ngx-material-timepicker #picker8></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker8" [format]=24 #vendrediDe type="time" />
                        <label class="col-1 text-center"> à </label>
                        <ngx-material-timepicker #picker9></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker9" [format]=24 #vendrediFi type="time" />
                    </div>
                    <button class="btn btn-success col-12" type="button"
                        (click)="addBetween(vendrediDe,vendrediFi,4);vendrediDe.value='';vendrediFi.value=''">
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="card mcard">
                <h3 class="card-header">Samedi</h3>
                <div class="card-body">
                    <p class="card-text row" *ngFor="let between of horaire.samedi;trackBy:util.trackById">
                        <span class="col-10 mtop">{{between.debut}} à {{between.fin}}</span> 
                        <span class="btn btn-danger col-2" (click)="deleteBetween(between,5)">X</span>
                    </p>
                </div>
                <div class="card-text card-footer">
                    <div class="mbottom">
                        <label class="col-1 text-center">De </label>
                        <ngx-material-timepicker #picker10></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker10" [format]=24 #samediDe type="time" />
                        <label class="col-1 text-center"> à </label>
                        <ngx-material-timepicker #picker11></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker11" [format]=24 #samediFi type="time" />
                    </div>
                    <button class="btn btn-success col-12" type="button"
                        (click)="addBetween(samediDe,samediFi,5);samediDe.value='';samediFi.value=''">
                        +
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row xmtop">
        <div class="col-md-4" >
            <div class="card mcard">
                <h3 class="card-header">Dimanche</h3>
                <div class="card-body">
                    <p class="card-text row" *ngFor="let between of horaire.dimanche;trackBy:util.trackById">
                        <span class="col-10 mtop">{{between.debut}} à {{between.fin}}</span> 
                        <span class="btn btn-danger col-2" (click)="deleteBetween(between,6)">X</span>
                    </p>
                </div>
                <div class="card-text card-footer">
                    <div class="mbottom">
                        <label class="col-1 text-center">De </label>
                        <ngx-material-timepicker #picker12></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker12" [format]=24 #dimancheDe type="time" />
                        <label class="col-1 text-center"> à </label>
                        <ngx-material-timepicker #picker13></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker13" [format]=24 #dimancheFi type="time" />
                        </div>
                    <button class="btn btn-success col-12" type="button"
                        (click)="addBetween(dimancheDe,dimancheFi,6);dimancheDe.value='';dimancheFi.value=''">
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="card mcard">
                <h3 class="card-header">Jour férié</h3>
                <div class="card-body">
                    <p class="card-text row" *ngFor="let between of horaire.ferie;trackBy:util.trackById">
                        <span class="col-10 mtop">{{between.debut}} à {{between.fin}}</span> 
                        <span class="btn btn-danger col-2" (click)="deleteBetween(between,7)">X</span>
                    </p>
                </div>
                <div class="card-text card-footer">
                    <div class="mbottom">
                        <label class="col-1 text-center">De </label>
                        <ngx-material-timepicker #picker14></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker14" [format]=24 #ferieDe type="time" />
                        <label class="col-1 text-center"> à </label>
                        <ngx-material-timepicker #picker15></ngx-material-timepicker>
                        <input class="col-5" [ngxTimepicker]="picker15" [format]=24 #ferieFi type="time" />
                    </div>
                    <button class="btn btn-success col-12" type="button"
                        (click)="addBetween(ferieDe,ferieFi,7);ferieDe.value='';ferieFi.value=''">
                        +
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>