<!-- Modal update-->
<div class="modal fade" id="updateImage" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="updateImageLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
        <div class="modal-header">
          <h3 class="modal-title" id="updateImageLabel">Modification des propriétés de l'image</h3>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="selectedImage" for="updateIG">
            <h3>Mise à jour de la valeur</h3>
            <div class="mb-3">
              <label class="form-label" for="updateIG">Nom du groupe:</label>
              <input formControlName="groupName" required placeholder="Nom" class="form-control" id="updateIG">
              <label class="form-label" for="updateID">Description de l'image:</label>
              <input formControlName="description" required placeholder="Description" id="updateID" class="form-control" >
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button  type="submit" class="btn btn-warning" >Sauvegarder</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="addImage" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="addImageLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content modal-dialog-scrollable">
      <form [formGroup]="addForm" (ngSubmit)="addData()">
        <div class="modal-header">
          <h3 class="modal-title" id="addImageLabel">Ajout d'une image</h3>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label" for="addDes">Description de l'image:</label>
            <input id="addDes" required formControlName="description" type="text" class="form-control" placeholder="Description"/>
          </div>
      
          <div class="mb-3">
            <label class="form-label" for="addN">Nom du groupe:</label>
            <input formControlName="groupName" required type="text" class="form-control" id="addN" placeholder="Nom"/>
          </div>
      
          <div class="mb-3">
            <label class="form-label" for="addW">Largeur de l'image:</label>
            <input formControlName="widht" required id="addW" type="number" class="form-control"/> 
          </div>
      
          <div class="mb-3">
            <label class="form-label" for="addH">Hauteur de l'image:</label>
            <input formControlName="heigth" required id="addH" type="number" class="form-control"/> 
          </div>
      
          <div class="mb-3">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" required formControlName="keepRatio" class="form-check-input">Maintenir le ratio
              </label>
            </div>    
          </div>
      
          <div class="mb-3">    
            <label class="form-label">Choix du fichier:</label>
            <div class="form-file">
              <input type="file" class="form-file-input" id="customFile"  accept="image/png, image/jpeg" type="file" (change)="handleFiles($event)">
              <label class="form-file-label" for="customFile">
                <span class="form-file-text">{{name}}</span>
                <span class="form-file-button">Parcourir...</span>
              </label>
            </div>
          </div>
          
          <div class="mb-3">
            <img [src]="imgURL">
          </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
            <button  type="submit" class="btn btn-primary">
              Ajouter
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
    <h2 class="text-center">Gestion des images</h2>
    <button type="button" style="border-radius: 0px;margin:10px" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addImage">
      +
    </button>
      <form>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nom du fichier</th>
                <th scope="col">Groupe</th>
                <th scope="col">Description</th>
                <th scope="col">Visualisation</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let image of images;trackBy:util.trackById">
                <td>{{image.fileName}}</td>
                <td>{{image.group}}</td>
                <td>{{image.description}}</td>
                <td><img src="{{urlDownload}}{{image.gridId}}" class="img-thumbnail" width="80"/></td>
                <td>
                  <button class="btn btn-danger" title="delete categorie"
                  (click)="deleteImage(image)">Supprimer</button>
                  <span style="margin: 10px;"> </span>
                  <button type="button" class="btn btn-warning" (click)="updateDataForm(image)">
                    Modifier
                  </button>          
                </td>
              </tr>
            </tbody>
          </table>
    </form>


</div>
