<app-image-modal idModal="twitterModal" (newItemEvent)="selectTwitter($event)"></app-image-modal>
<app-image-modal idModal="facebookModal" (newItemEvent)="selectFacebook($event)"></app-image-modal>

<h2 class="text-center">Mes données de réferencements</h2>
<div class="container" *ngIf="metaTag">
    <form class="row" [formGroup]="updateForm">
        <div class="col-12 mt-3 mb-3">
            <button type="button" class="btn btn-warning float-right" (click)="save()">Enregistrer les modifications</button>
        </div>

        <div class="col-6">
            <h3>Facebook</h3>
            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Titre</mat-label>
                <input formControlName="facebookTitle" type="text" matInput placeholder="Ex: Restaurant le Florilège">
            </mat-form-field>

            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea class="textArea" formControlName="facebookDescription" matInput placeholder="Ex: Notre restaurant vous propose une ..."></textarea>
            </mat-form-field>

            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Image</mat-label>
                <input (click)="showFacebook()" formControlName="facebookImage" type="text" id="facebookImage" matInput placeholder="Image de l'aperçu Facebook">
            </mat-form-field>
            
        </div>

        <div class="col-6">
            <h3>Twitter</h3>
            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Titre</mat-label>
                <input formControlName="twitterTitle" type="text" matInput placeholder="Ex: Restaurant le Florilège">
            </mat-form-field>

            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea class="textArea" formControlName="twitterDescription" matInput placeholder="Ex: Notre restaurant vous propose une ..."></textarea>
            </mat-form-field>

            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Image</mat-label>
                <input (click)="showTwitter()" formControlName="twitterImage" type="text" id="twitterImage" matInput placeholder="Image de l'aperçu Twitter">
            </mat-form-field>

            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Auteur</mat-label>
                <input formControlName="twitterAuthor" type="text" matInput placeholder="Ex: Patrick Dujardin">
            </mat-form-field>
        </div>

        <div class="col-6">
            <h3>Données générale</h3>

            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea class="textArea" formControlName="description" matInput placeholder="Veuillez saisir une description courte de votre établissement (moin de 200 caractères)"></textarea>
            </mat-form-field>

            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Mots clefs</mat-label>
                <textarea class="textArea" formControlName="keywords" matInput placeholder="Veuillez saisir des mot clefs pertinents (moin de 1000 caractères)"></textarea>
            </mat-form-field>

            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Auteur</mat-label>
                <input formControlName="author" type="text" matInput placeholder="Ex: Patrick Dujardin">
            </mat-form-field>

        </div>
        <div class="col-6">
            <h3 class="text-center" style="margin-top: 30px;">Autres référencements</h3>
            <table class="table col-12">
                <thead>
                    <tr>
                        <th scope="col">Clef</th>
                        <th scope="col">Valeur</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let other of metaTag.other;TrackBy:util.trackById">
                        <td>{{other.key}}</td>
                        <td>{{other.value}}</td>
                        <td><span class="btn btn-danger" (click)="deleteKey(other)">X</span></td>
                    </tr>
                    <tr>
                        <td>
                            <input #key type="text" class="form-control" id="inputKey" placeholder="Nom de la propriété">
    
                        </td>
                        <td>
                            <input #value type="text" class="form-control" id="inputValue"
                                placeholder="Valeur de la propriété">
    
                        </td>
                        <td>
                            <button (click)="add(key,value);key.value='';value.value=''" type="button"
                                class="btn btn-success">+</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </form>
</div>