<app-image-modal idModal="updateImageModal" showAfterClose="updateCategorie" (newItemEvent)="updateImage($event)">
</app-image-modal>
<app-image-modal idModal="addImageModal" showAfterClose="addCategorie" (newItemEvent)="addImage($event)">
</app-image-modal>
<app-image-modal idModal="updateIconModal" showAfterClose="updateCategorie" (newItemEvent)="updateIcon($event)">
</app-image-modal>
<app-image-modal idModal="addIconModal" showAfterClose="addCategorie" (newItemEvent)="addIcon($event)">
</app-image-modal>

<!-- Modal update -->
<div class="modal fade" id="updateCategorie" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="updateCategorieLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
        <div class="modal-header">
          <h3 class="modal-title" id="updateCategorieLabel">Modification de la section</h3>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="updateClose"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="selectedCategorie" class="row">
            <mat-form-field class="col-12" appearance="fill">
              <mat-label>Nom de la section</mat-label>
              <input formControlName="name" required type="text" matInput placeholder="Ex: Entrée">
            </mat-form-field>

            <div class="col-12">
              <label class="form-label">Description:</label>
              <editor [init]="{language: 'fr_FR'}" formControlName="description"
                apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
            </div>

            <div class="col-md-6 text-center">
              <button type="button" class="btn btn-primary btn-list" (click)="showUpdateImage()" data-dismiss="modal">
                Image
              </button>

              <img *ngIf="selectedCategorie.image" src="{{urlDownload}}{{selectedCategorie.image.gridId}}"
                style="width:100%" />
            </div>

            <div class="col-md-6 text-center">
              <button type="button" class="btn btn-primary btn-list" (click)="showUpdateIcon()" data-dismiss="modal">
                Logo
              </button>

              <img *ngIf="selectedCategorie.iconImage" src="{{urlDownload}}{{selectedCategorie.iconImage.gridId}}"
                style="width:100%" />
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="submit" class="btn btn-warning">Modifier</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="addCategorie" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="addCategorieel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="addForm">
        <div class="modal-header">
          <h3 class="modal-title" id="addCategorieel">Ajout d'une section</h3>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="addClose"></button>
        </div>
        <div class="modal-body row">
          <mat-form-field class="col-12" appearance="fill">
            <mat-label>Nom de la section</mat-label>
            <input formControlName="name" required type="text" matInput placeholder="Ex: Entrée">
          </mat-form-field>

          <div class="col-12">
            <label class="form-label">Description:</label>
            <editor [init]="{language: 'fr_FR'}" formControlName="description"
              apiKey="csyycqknxvvmkijl5x4d4a8rea94efvt80jgsvz7uqi8tdb2"></editor>
          </div>

          <div class="col-md-6 text-center">
            <button type="button" class="btn btn-primary btn-list" (click)="showAddImage()" data-dismiss="modal">
              Image
            </button>

            <img *ngIf="addCategorie.image" src="{{urlDownload}}{{addCategorie.image.gridId}}" style="width:100%" />
          </div>

          <div class="col-md-6 text-center">
            <button type="button" class="btn btn-primary btn-list" (click)="showAddIcon()" data-dismiss="modal">
              Logo
            </button>

            <img *ngIf="addCategorie.iconImage" src="{{urlDownload}}{{addCategorie.iconImage.gridId}}"
              style="width:100%" />
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
          <button type="button" class="btn btn-primary" (click)="addData()">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">Gestion des sections de la carte</h2>
  </div>
  <button *ngIf="authenticationService.manager" type="button" mat-stroked-button data-toggle="modal" data-target="#addCategorie">
    Ajouter une catégorie
  </button>
  <div cdkDropList (cdkDropListDropped)="drop($event)" class="cdk-list mt-5">
    <div *ngFor="let categorie of categories;trackBy:util.trackById" class="cdk-box" cdkDrag cdkDragLockAxis="y">
      <div class="card col-12">
        <div class="card-header">
          <p class="float-left card-title">{{categorie.name}}</p>
          <div class="float-right">
            <button *ngIf="authenticationService.admin" mat-stroked-button color="warn" title="delete categorie"
              (click)="delete(categorie)">Supprimer</button>
            <button *ngIf="authenticationService.manager" (click)="updateDataForm(categorie)" type="button" mat-stroked-button>
              Modifier
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>