<div class="container-fluid">
    <div class="jumbotron">
        <h2>Interface du cuisinier froid</h2>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Signalé</h3>
            <div *ngFor="let table of signals;trackBy:util.trackByTableName" class="card">
              <div class="card-header" style="height:35px">
                <h4>{{table.tableName}}</h4>
              </div>
              <div class="card-body">
                <span *ngFor="let cn of table.items">{{cn.count}} {{cn.name}}<br></span>
              </div>
            </div>
        </div>
        <div class="col-4">
            <h3>A faire</h3>
            <mat-expansion-panel hideToggle *ngFor="let toTake of toTakes;let idx=index">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{toTake.tableName}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row" *ngFor="let order of toTake.items">
                  <div class="col-8">
                    <p>{{order.preOrder.stock.item.name}} {{order.annonce}}</p>
                  </div>
                  <div class="col-4">
                    <button (click)="prepare(order)" mat-stroked-button>Préparer</button>
                  </div>
                  <hr class="mt-3">
                </div>
              </mat-expansion-panel>
        </div>
        <div class="col-4">
            <h3>En cours</h3>
            <mat-expansion-panel hideToggle *ngFor="let toPrepare of toPrepares;let idx=index">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    C{{idx}}-{{toPrepare.order.preOrder.destination}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{toPrepare.order.preOrder.stock.item.name}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{toPrepare.order.annonce}}</p>
              </mat-expansion-panel>
        </div>
    </div>
</div>