<!--modal image-->
<div class="modal fade" id="selectImageModal" tabindex="-1" aria-labelledby="selectImageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-dialog-scrollable">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Choix de l'image</h2>
                <button type="button" class="btn-close" data-toggle="modal" data-target="#staticBackdropAdd"
                    data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Liste des images</h3>
                <form>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nom du fichier</th>
                                <th scope="col">Description</th>
                                <th scope="col">Visualisation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let image of images" (click)="onSelect(image)">
                                <td>{{image.fileName}}</td>
                                <td>{{image.description}}</td>
                                <td><img src="{{urlDownload}}{{image.gridId}}" class="img-thumbnail" width="80" /></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <div class="mb-3" *ngIf="selectedImage">
                    <label>Image sélectionnée:</label>
                    <div class="mb-3">
                        <img src="{{urlDownload}}{{selectedImage.gridId}}" class="img-thumbnail text-center"
                            width="80" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#staticBackdropAdd"
                    data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!--modal image update-->
<div class="modal fade" id="selectImageModalUpdate" tabindex="-1" aria-labelledby="selectImageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" *ngIf='selectedItem'>
        <div class="modal-content modal-dialog-scrollable">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Choix de l'image</h2>
                <button type="button" class="btn-close" data-toggle="modal" data-target="#modal-update"
                    data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Liste des images</h3>
                <form>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nom du fichier</th>
                                <th scope="col">Description</th>
                                <th scope="col">Visualisation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let image of images" (click)="selectedItem.sourceImage=image">
                                <td>{{image.fileName}}</td>
                                <td>{{image.description}}</td>
                                <td><img src="{{urlDownload}}{{image.gridId}}" class="img-thumbnail" width="80" /></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <div class="mb-3" *ngIf="selectedItem.sourceImage">
                    <label>Image sélectionnée:</label>
                    <div class="mb-3">
                        <img src="{{urlDownload}}{{selectedItem.sourceImage.gridId}}" class="img-thumbnail text-center"
                            width="80" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-update"
                    data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- modal allergene-->
<div class="modal fade" id="selectAllergenesModal" aria-labelledby="selectImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Choix des allergenes</h2>
                <button type="button" class="btn-close" data-dismiss="modal" data-toggle="modal"
                    data-target="#staticBackdropAdd" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div cdkDropListGroup>
                    <div class="row">
                        <div class="allergene-container col-6">
                            <h2>Allergenes disponibles</h2>

                            <div cdkDropList [cdkDropListData]="allergenes" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box" *ngFor="let item of allergenes" cdkDrag>{{item.name}}</div>
                            </div>
                        </div>

                        <div class="allergene-container col-6">
                            <h2>Allergenes choisis</h2>

                            <div cdkDropList [cdkDropListData]="allergenesAdd" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box" *ngFor="let item of allergenesAdd" cdkDrag>{{item.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#staticBackdropAdd"
                    data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- modal allergene update-->
<div class="modal fade" id="selectAllergenesModalUpdate" aria-labelledby="selectImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content" *ngIf="selectedItem">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Choix des allergenes</h2>
                <button type="button" class="btn-close" data-dismiss="modal" data-toggle="modal"
                    data-target="#modal-update" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div cdkDropListGroup>
                    <div class="row">
                        <div class="allergene-container col-6">
                            <h2>Allergenes disponibles</h2>

                            <div cdkDropList [cdkDropListData]="allergenes" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box" *ngFor="let item of allergenes" cdkDrag>{{item.name}}</div>
                            </div>
                        </div>

                        <div class="allergene-container col-6">
                            <h2>Allergenes choisis</h2>

                            <div cdkDropList [cdkDropListData]="selectedItem.allergenes" class="allergene-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="allergene-box" *ngFor="let item of selectedItem.allergenes" cdkDrag>
                                    {{item.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-update"
                    data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="staticBackdropAdd" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-dialog-scrollable">
            <div class="modal-header">
                <h3 class="modal-title" id="staticBackdropLabel">Ajout d'un item</h3>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-3">
                        <label class="form-label" for="addNam">Nom:</label>
                        <input id="addNam" #name type="text" class="form-control" placeholder="Nom" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="addDes">Description:</label>
                        <input id="addDes" #description type="text" class="form-control" placeholder="Description" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="addOrder">Z-Index:</label>
                        <input id="addOrder" #order type="number" class="form-control"
                            placeholder="Priorité de l'affichage" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="addP">Prix:</label>
                        <div class="input-group mb-3" style="max-width: 200px;">
                            <input id="addP" #price type="number" min="0.1" step="0.01" class="form-control"
                                placeholder="Montant" aria-label="Montant" aria-describedby="basic-addon1">
                            <span class="input-group-text" id="basic-addon1">€</span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="addC">Choix de la categorie:</label>
                        <select #selectedCategorie id="addC" class="form-select" aria-label="Default select">
                            <option *ngFor="let categorie of categories;let idx=index"
                                [selected]=" idx == 0 ? true : false" [value]="idx">{{categorie.name}}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal"
                            data-target="#selectImageModal">
                            Choisir une image ...
                        </button>
                    </div>

                    <div class="mb-3" *ngIf="selectedImage">
                        <label>Image sélectionnée:</label>
                        <div class="mb-3">
                            <img src="{{urlDownload}}{{selectedImage.gridId}}" class="img-thumbnail text-center"
                                width="80" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal"
                            data-target="#selectAllergenesModal">
                            Choix des allergenes ...
                        </button>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                <button data-dismiss="modal"
                    (click)="addItem(name,description,price,selectedCategorie,order);name.value='';description.value='';price.value='0';order.value='0';"
                    type="submit" class="btn btn-primary">
                    Ajouter
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal update-->
<div class="modal fade" id="modal-update" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-dialog-scrollable">
            <div class="modal-header">
                <h3 class="modal-title" id="staticBackdropLabel">Modification de l'item</h3>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="selectedItem">
                    <div class="mb-3">
                        <label class="form-label" for="addNam">Nom:</label>
                        <input id="addNam" [(ngModel)]="selectedItem.name" type="text" class="form-control"
                            placeholder="Nom" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="addDes">Description:</label>
                        <input id="addDes" [(ngModel)]="selectedItem.description" type="text" class="form-control"
                            placeholder="Description" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="addOrder">Z-Index:</label>
                        <input id="addOrder" [(ngModel)]="selectedItem.order" type="number" class="form-control"
                            placeholder="Priorité de l'affichage" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="addP">Prix:</label>
                        <div class="input-group mb-3" style="max-width: 200px;">
                            <input id="addP" [(ngModel)]="selectedItem.price" type="number" min="0.1" step="0.01"
                                class="form-control" placeholder="Montant" aria-label="Montant"
                                aria-describedby="basic-addon1">
                            <span class="input-group-text" id="basic-addon1">€</span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="addC">Choix de la categorie:</label>
                        <select [(ngModel)]="selectedItem.categorie.name" id="addC" class="form-select"
                            aria-label="Default select">
                            <option *ngFor="let categorie of categories;let idx=index"
                                [selected]=" selectedItem.categorie.name == categorie.name ? true : false"
                                [value]="idx">{{categorie.name}}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal"
                            data-target="#selectImageModalUpdate">
                            Choisir une image ...
                        </button>
                    </div>

                    <div class="mb-3">
                        <label>Image sélectionnée:</label>
                        <div class="mb-3">
                            <img src="{{urlDownload}}{{selectedItem.sourceImage.gridId}}"
                                class="img-thumbnail text-center" width="80" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal"
                            data-target="#selectAllergenesModalUpdate">
                            Choix des allergenes ...
                        </button>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                <button data-dismiss="modal" (click)="update();" type="submit" class="btn btn-primary">
                    Modifier
                </button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <h2 class="text-center">Gestion des éléments de la carte</h2>
    <button type="button" style="border-radius: 0px;margin:10px" class="btn btn-success btn-lg" data-toggle="modal"
        data-target="#staticBackdropAdd">
        +
    </button>

    <form>
        <div class="row">
            <div *ngFor="let itemCarte of itemsCarte" class="card col-md-3" style="margin: 5px;"
                (click)="selectItem(itemCarte)">
                <div class="card-header">
                    <img src="{{urlDownload}}{{itemCarte.sourceImage.gridId}}" class="card-img-top"
                        alt="{{itemCarte.sourceImage.description}}">
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{itemCarte.name}}</h2>
                    <h3 class="card-subtitle mb-2 text-muted">{{itemCarte.categorie.name}}</h3>
                    <p class="card-text">{{itemCarte.description}}</p>
                </div>
                <div class="card-footer text-center" style="height: 150px;">
                    <h3 class="text-center">{{itemCarte.price}}€</h3>
                    <small>
                        <span><b>Allergene(s): </b></span>
                        <span *ngFor="let allergene of itemCarte.allergenes">{{allergene.name}} </span>
                    </small>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button (click)="delete(itemCarte)" style="display: inline-block; width:120px;margin:auto" class="btn btn-danger">Suprimer</button>
                    </div>
                    <div class="col-6">
                        <button type="button" style="display: inline-block; width:120px;margin:auto" class="btn btn-warning" data-toggle="modal" data-target="#modal-update">
                            Modifier
                        </button>
    
                    </div>    
                </div>
            </div>
        </div>
    </form>
</div>