<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Connexion</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                    <input type="text" placeholder="Identifiant" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">L'identifiant est requis</div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <input type="password" placeholder="Mot de passe" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Le mot de passe est requis</div>
                    </div>
                </div>
                <div class="mb-3">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Connexion
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>